<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
    <!-- ヘッダー部分（サイドバーなし）のフラグメント -->
    <div th:fragment="header-fragment">
        <div th:replace="~{fragment/titleMenuFragment::title-menu-fragment(false)}"></div>
    </div>

    <!-- ヘッダー部分（サイドバーあり）のフラグメント -->
    <div class="hamburger" th:fragment="header-fragment-hamburger">
        <div th:replace="~{fragment/titleMenuFragment::title-menu-fragment(true)}"></div>
    </div>
    
</body>