<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
    <!-- タイトルメニューのフラグメント -->
    <div class="title-menu header" th:fragment="title-menu-fragment(isHamburger)">
        <div class="logo-btn pc-style" th:onclick="moveLinkPage('/')"><span>Kyosei</span></div>
        <div th:if="${isHamburger == true}" class="sp-style">
            <button id="menu-open" class="hamburger-btn-open"><img th:src="@{/icons/hamburger.png}"></button>
        </div>
        <div class="pc-style">
            <div th:replace="~{fragment/titleMenuFragment::title-menu-btns-fragment}"></div>
        </div>
        <div class="user-btn">
            <span class="pc-style" sec:authentication="name"></span>
            <form class="logout-btn" th:action="@{/logout}" th:method="post">
                <button type="submit"><img th:src="@{/icons/logout.png}"></button>
            </form>
        </div>
    </div>

    <!-- タイトルメニューボタン部分のフラグメント -->
    <div class="title-menu-btns" th:fragment="title-menu-btns-fragment">
        <div class="title-menu-btn sp-style" th:onclick="moveLinkPage('/')">
            <img th:src="@{/icons/home.png}"><span>ホーム</span>
        </div>
        <div class="title-menu-btn" th:onclick="moveLinkPage('/sales')">
            <img class="sp-style" th:src="@{/icons/sales.png}"><span>営業</span>
        </div>
        <div class="title-menu-btn" th:onclick="moveLinkPage('/personnel')">
            <img class="sp-style" th:src="@{/icons/human.png}"><span>人事</span>
        </div>
        <div class="title-menu-btn" th:onclick="moveLinkPage('/accounting')">
            <img class="sp-style" th:src="@{/icons/piggy_bank.png}"><span>経理</span>
        </div>
        <div class="title-menu-btn" th:onclick="moveLinkPage('/logistics')">
            <img class="sp-style" th:src="@{/icons/truck.png}"><span>物流</span>
        </div>
    </div>
    
</body>