<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/tablelist}">

<head>
    <title>社員</title>
    <style type="text/css">
        /* PC表示のみ */
        @media screen and (min-width:561px) {
            .table-container {
                max-width: 50rem;
            }
            .normal-table tr {
                grid-template-columns: 3rem 5rem 5rem minmax(10rem, 1fr) 10rem minmax(10rem, 12rem) 1rem;
            }
            .form-dialog {
                width: 40rem;
            }
            .table-container>header {
                grid-template-columns: 1fr auto;
                column-gap: 1rem;
            }
        }
        /* スマホ表示のみ */
        @media screen and (max-width:560px) {
            .table-container {
                max-width: 100%;
            }
            .normal-table tr {
                grid-template-columns: 1fr;
                height: fit-content;
                padding: 1.5rem;
            }
            .normal-table tr td[name="id-cell"]::before {
                content: "ID : ";
            }
            .normal-table tr td[name="code-cell"]::before {
                content: "コード : ";
            }
            .normal-table tr td[name="phone-cell"]::before {
                content: "携帯番号 : ";
            }
            .normal-table tr td[name="office-cell"]::before {
                content: "営業所 : ";
            }
            .normal-table tr td[name="name-cell"] {
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: .5rem;
            }
            .form-dialog {
                width: 100%
            }
        }
    </style>
</head>

<body layout:fragment="layout-body">
    <div class="normal-body">
        <div class="table-container">
            <!-- パンくずリスト -->
            <div
                th:with="breadcrumbs=${ { {url:'/' ,label:'ホーム'},{url:'/regist', label:'登録'},{url:'', label:'社員'} } }">
                <div th:replace="~{fragment/main::breadcrumb-fragment(${breadcrumbs})}"></div>
            </div>
            <!-- ヘッダー -->
            <header class="input-area tablelist-regist">
            <!-- <header class="form-parts tablelist"> -->
                <div th:replace="~{fragment/header::header-search-fragment}"></div>
                <div th:replace="~{fragment/header::header-btns-fragment}"></div>
            </header>
            <!-- コンテンツ -->
            <main id="scroll-area">
                <table id="tablelist" class="normal-table">
                    <tbody></tbody>
                </table>
                <button type="button" class="page-top"></button>
            </main>
            <!-- フッター -->
            <footer id="footer-text" class="pc-style"><span></span></footer>
        </div>
    </div>
    <script th:src="@{/js/default.js}"></script>
    <script th:src="@{/js/tablelist.js}"></script>
    <script type="text/JavaScript" th:inline="JavaScript">
        const token = /*[[${_csrf.token}]]*/;
        const sidebarlist = /*[[${sidebarlist}]]*/; // サイドバーリスト用
        const sqllistdata = /*[[${sqllistdata}]]*/; // リスト再取得用エンティティ
        const sqlformdata = /*[[${sqlformdata}]]*/; // 新規・更新用エンティティ
        const formentity = /*[[${formentity}]]*/; // 新規・更新用エンティティ
        const deleteStateCode = /*[[${deleteStateCode}]]*/; // 削除用コード
        const headerNames = ['ID', 'コード', '氏名', '携帯番号', '営業所'];
        const officecombolist = /*[[${officecombolist}]]*/; // コンボボックス用エンティティ
        const gendercombolist = /*[[${gendercombolist}]]*/; // コンボボックス用エンティティ
        const bloodtypecombolist = /*[[${bloodtypecombolist}]]*/; // コンボボックス用エンティティ
        const username = /*[[${username}]]*/; // ログインユーザー名

        let origin = /*[[${origin}]]*/; // 初期リスト記憶用
        let simpledata = /*[[${simpledata}]]*/; // Sql実行用エンティティ

        // 新規
        function createFunc(self) {
            // ケバブメニューを閉じる
            closeKebabDialog();
            // 新規作成画面を開く
            formentity.office_id = 0;
            execCreateForm(self, formentity);
        }
        // 編集
        function editFunc(self) {
            // ケバブメニューを閉じる
            closeKebabDialog();
            // 編集画面を開く
            const selectsqldata = { "sqlString": sqlformdata.sqlString + " AND e.employee_id = " + self.dataset.id + ";", "classPath": sqlformdata.classPath };
            execEditForm(selectsqldata)
        }
        // 削除
        function removeFunc(self) {
            // ケバブメニューを閉じる
            closeKebabDialog();
            const formdata = structuredClone(formentity);
            formdata.state = deleteStateCode;
            exexRemove(formdata, sqllistdata, "/update/fulltime", "tablelist");
        }
        // ダウンロード
        async function downloadCsvFunc(self) {
            // ケバブメニューを閉じる
            closeKebabDialog();
            // 親要素を取得する
            const parent = self.closest('.table-container');
            const down = structuredClone(sqlformdata);
            down.sqlString += " AND e.employee_id ";
            const result = execDownloadCsv(parent, down);
            if (result != null) {
                const history = { "user_name":username, "table_name":"fulltimes", "state":"CSVダウンロード", "contents":"成功"}
                if (result == false) history.contents = "失敗";
                const data = JSON.stringify(history);
                await postFetch("/history/save", data, token, "application/json");
            }
        }
        // // 画面更新
        // function updateFunc() {
        //     // ケバブメニューを閉じる
        //     closeKebabDialog();
        //     // リストデータ更新
        //     updateList(sqllistdata);
        // }
        // サイドバーで要素を選択した時の処理
        function clickSidebarItem(self) {
            if (self == null) return;
            // 選択状態を変更する
            selectSidebarItem(self);
            // 画面更新
            filterDisplay();
            // サイドバー選択時ハンバーガーを閉じる
            hamburgerClose();
        }
        // 画面更新時の処理
        function filterDisplay() {
            // 選択要素で絞り込む
            let list = extractListFromSidebarItem(origin);
            // 検索ボックスのワードで絞り込む
            list = extractListFromSearchBox(list);
            // 画面更新
            // const headerNames = ['ID', 'コード', '氏名', '携帯番号', '営業所'];
            updateListDisplay("tablelist", headerNames, list, "footer-text", true);
        }
        // リスト画面の本体部分を作成する
        function createListContent(tbl, list) {
            list.forEach(function (item) {
                let newRow = tbl.insertRow();
                // ID（Post送信用）
                newRow.setAttribute('id', 'row00-' + item.employee_id);
                newRow.setAttribute('name', 'data-row');
                newRow.setAttribute('data-id', item.employee_id);
                let timer;
                // シングルクリック時の処理
                newRow.onclick = function (e) { 
                    // チェックボックスの動作を停止させる
                    e.preventDefault();
                    // ダブルクリック判定のための時間を空ける
                    clearTimeout(timer);
                    timer = setTimeout(() => {
                        // 時間が経過したらシングルクリックに確定してチェック状態を反転させる
                        clickCheckBtnManual(item.employee_id, this);
                    }, 180);
                }
                // ダブルクリック時の処理
                newRow.ondblclick = function (e) { 
                    // チェックボックスの動作を停止させる
                    e.preventDefault();
                    // シングルクリックでは無くなったのでタイマーを停止
                    clearTimeout(timer);
                    // // ダブルクリック時は常に選択状態にする
                    // changeCheckBtnManual(item.employee_id, this, true);
                    // フォーム入力画面を表示する
                    editFunc(this);
                }
                // 選択用チェックボックス
                newRow.insertAdjacentHTML('beforeend', '<td name="chk-cell" class="pc-style"><input id="chk00-' + item.employee_id + '" class="normal-chk" name="chk-box" type="checkbox" value="' + item.employee_id + '"></td>');
                // ID
                newRow.insertAdjacentHTML('beforeend', '<td name="id-cell">' + String(item.employee_id).padStart(4, '0') + '</td>');
                // コード
                newRow.insertAdjacentHTML('beforeend', '<td name="code-cell">' + String(item.code).padStart(4, '0') + '</td>');
                // 名前
                newRow.insertAdjacentHTML('beforeend', '<td name="name-cell"><span class="kana">' + item.full_name_kana + '</span><br><span>' + item.full_name + '</span></td>');
                // 携帯番号
                newRow.insertAdjacentHTML('beforeend', '<td name="phone-cell"><span>' + (item.phone_number ?? "登録なし") + '</span></td>');
                // 営業所
                newRow.insertAdjacentHTML('beforeend', '<td name="office-cell"><span>' + (item.office_name ?? "登録なし") + '</span></td>');
            });
        }
        // フォーム画面のコンテント部分を作成
        function getFormContent(item) {
            const elmContent = document.createElement('form');
            elmContent.classList.add('dialog-content');
            elmContent.setAttribute('id', 'tablelist-form');
            // DB登録用隠しアイテム
            elmContent.insertAdjacentHTML('beforeend', '<input name="fulltime-id" type="hidden" value="' + item.fulltime_id + '">');
            elmContent.insertAdjacentHTML('beforeend', '<input name="employee-id" type="hidden" value="' + item.employee_id + '">');
            elmContent.insertAdjacentHTML('beforeend', '<input name="person-id" type="hidden" value="' + item.person_id + '">');
            elmContent.insertAdjacentHTML('beforeend', '<input name="code" type="hidden" value="' + item.code + '">');            
            elmContent.insertAdjacentHTML('beforeend', '<input name="version" type="hidden" value="' + item.version + '">');
            // 営業所セレクトボックス
            if (item.office_id == 0) {
                const selectItem = document.querySelector('#sidebar-area li.selected');
                item.office_id = selectItem == null ? 0: selectItem.dataset.id;
            }
            elmContent.insertAdjacentHTML('beforeend', '<div class="form-parts w40"><label>営業所</label><select name="office" class="normal-select"></select></div>');
            const officeArea = elmContent.querySelector('select[name="office"]');
            createComboBoxWithTop(officeArea, officecombolist);
            setComboboxSelected(officeArea, item.office_id);
            // 氏名入力ボックス
            elmContent.insertAdjacentHTML('beforeend', '<div class="input-area w100">' + 
                '<div class="form-parts w50"><label>氏名</label><div class="input-area"><input name="last-name" class="normal-input" type="text" value="' + (item.last_name ?? "") + '" placeholder="姓" onfocus="this.select();">' + 
                '<input name="first-name" class="normal-input" type="text" value="' + (item.first_name ?? "") + '" placeholder="名" onfocus="this.select();"></div></div>' + 
                '<div class="form-parts w50"><label>かな</label><div class="input-area"><input name="last-name-kana" class="normal-input" type="text" value="' + (item.last_name_kana ?? "") + '" placeholder="せい" onfocus="this.select();">' + 
                '<input name="first-name-kana" class="normal-input" type="text" value="' + (item.first_name_kana ?? "") + '" placeholder="めい" onfocus="this.select();"></div></div></div>');
            // 電話番号・メールアドレス入力ボックス
            elmContent.insertAdjacentHTML('beforeend', '<div class="input-area w100">' + 
                '<div class="form-parts w30"><label>携帯番号</label><input name="phone-number" class="normal-input" type="text" inputmode="numeric" pattern="\\d{2,4}-\\d{2,4}-\\d{3,4}" value="' + (item.phone_number ?? "") + '" placeholder="012-3456-7890" onfocus="this.select();"></div>' + 
                '<div class="form-parts w70"><label>メールアドレス</label><input name="email" class="normal-input" type="email" value="' + (item.email ?? "") + '" placeholder="例）example@kyouseibin.com" onfocus="this.select();"></div></div>');
            // 郵便番号・住所入力ボックス
            elmContent.insertAdjacentHTML('beforeend', '<div class="input-area w100">' + 
                '<div class="form-parts w25"><label>郵便番号</label><input id="postalcode" name="postal-code" class="normal-input" type="text" inputmode="numeric" pattern="\\d{3}-?\\d{4}" value="' + (item.postal_code ?? "") + '" placeholder="012-3456" onfocus="this.select();"><img title="検索" src="/icons/search.png" onclick="getAddress()"></div>' +
                '<div class="form-parts w75"><label>住所</label><input id="fulladdress" name="full-address" class="normal-input" type="text" value="' + (item.full_address ?? "") + '" placeholder="例）大阪府高槻市柱本5丁目7番10号" onfocus="this.select();"></div></div>');
            const postalArea = elmContent.querySelector('input[name="postal-code"]');
            // 郵便番号入力ボックスでエンターキーが押された時の処理を登録
            postalArea.addEventListener('keydown', function (e) { getAddress(e); });
            // 生年月日入力ボックス 性別セレクトボックス // 血液型セレクトボックス
            elmContent.insertAdjacentHTML('beforeend', '<div class="input-area w100">' + 
                '<div class="form-parts w30"><label>生年月日</label><input name="birthday" class="normal-input" type="date" value="' + (item.birthday == "9999-12-31" ? "" : item.birthday) + '" onfocus="this.select();"></div>' +
                '<div class="form-parts w20"><label>性別</label><select name="gender" class="normal-select"></select></div>' + 
                '<div class="form-parts w20"><label>血液型</label><select name="blood-type" class="normal-select"></select></div></div>');
                const genderArea = elmContent.querySelector('select[name="gender"]');
                createComboBox(genderArea, gendercombolist);
                setComboboxSelected(genderArea, item.gender);
                const bloodTypeArea = elmContent.querySelector('select[name="blood-type"]');
                createComboBox(bloodTypeArea, bloodtypecombolist);
                setComboboxSelected(bloodTypeArea, item.blood_type);
            // 緊急連絡先入力ボックス
            elmContent.insertAdjacentHTML('beforeend', '<div class="input-area w100"><div class="form-parts w100"><label>緊急連絡先</label>' + 
                '<div class="input-area"><div class="form-parts w45"><input name="emergency-contact-number" class="normal-input" type="text" inputmode="numeric" pattern="\\d{2,4}-\\d{2,4}-\\d{3,4}" value=\'' + (item.emergency_contact_number ?? "") + '\' placeholder="012-3456-7890" onfocus="this.select();"></div>' + 
                '<input name="emergency-contact" class="normal-input" type="text" value="' + (item.emergency_contact ?? "") + '" placeholder="例）実家・妻" onfocus="this.select();"></div></div></div>');
            return elmContent;
        }
        // 入力チェック
        function execFormDataCheck() {
            let msg = "";
            // 姓が入力されていないとFalseを返す
            const name = document.querySelector('input[name="last-name"]');
            if (name != null && name.value == "") msg += '\n姓が入力されていません';
            // 電話番号チェック
            const phone = document.querySelector('input[name="phone-number"]');
            if (!checkPhoneNumber(phone)) msg += '\n電話番号に誤りがあります';
            // 電話番号チェック
            const postal = document.querySelector('input[name="postal-code"]');
            if (!checkPostalCode(postal)) msg += '\n郵便番号に誤りがあります';
            // メールアドレスチェック
            const email = document.querySelector('input[name="email"]');
            if (!checkMailAddress(email)) msg += '\nメールアドレスに誤りがあります';
            // エラーが一つ以上あればエラーメッセージダイアログを表示する
            if (msg != "") {
                messageDialog(msg, 'エラー', 'red');
                return false;
            }
            return true;
        }
        // 作成・更新処理
        async function execUpdateFormData() {
            // エラーチェック
            if (execFormDataCheck() == false) {
                return;
            } else {
                const form = document.getElementById('tablelist-form');
                const formData = new FormData(form);
                const formdata = structuredClone(formentity);
                formdata.fulltime_id = formData.get('fulltime-id');
                formdata.employee_id = formData.get('employee-id');
                formdata.code = formData.get('code');
                formdata.person_id = formData.get('person-id');
                formdata.office_id = formData.get('office');
                formdata.last_name = formData.get('last-name').trim();
                formdata.first_name = formData.get('first-name').trim();
                formdata.last_name_kana = formData.get('last-name-kana').trim();
                formdata.first_name_kana = formData.get('first-name-kana').trim();
                formdata.phone_number = formData.get('phone-number').trim();
                formdata.postal_code = formData.get('postal-code').trim();
                formdata.full_address = formData.get('full-address').trim();
                formdata.email = formData.get('email').trim();
                formdata.gender= formData.get('gender');
                formdata.blood_type = formData.get('blood-type');
                formdata.birthday = formData.get('birthday');
                formdata.version = formData.get('version');
                formdata.emergency_contact = formData.get('emergency-contact').trim();
                formdata.emergency_contact_number = formData.get('emergency-contact-number').trim();
                // 保存処理
                updateForm(formdata, sqllistdata, "/update/fulltime", "tablelist");
            }
        }
        // ページ読み込み後の処理
        window.addEventListener("load", () => {
            // スピナー表示
            startProcessing();
            // 検索ボックス入力時の処理
            document.getElementById('search-box').addEventListener('search', function(e) {
                // if (e.target.value == "") list = structuredClone(origin);
                filterDisplay();
            }, false);
            // 編集用リストを初期化用リストからコピー
            let list = structuredClone(origin);
            // サイドバーリストの先頭に[全て表示]を追加する
            addAllSelectionsToTopOfList(sidebarlist);
            // サイドバー作成
            createSidebar(sidebarlist, "社員登録");
            // サイドバーの先頭アイテムを選択する
            selectSidebarToTopOfList();
            // 画面更新
            updateListDisplay("tablelist", headerNames, list, "footer-text", true);
            // スピナー消去
            processingEnd();
        });
    </script>
</body>

</html>