<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{content/index/indexLayout}">

<head>
    <title>経理</title>
</head>

<body>
    <div class="normal-body" layout:fragment="layout-body">
        <div class="index-btn-container">
            <!-- <div class="index-btn" th:onclick="moveLinkPage('/timeworks/confilm')">
                <img th:src="@{/icons/approved.png}"><span>勤怠一覧</span>
            </div>
            <div class="index-btn" th:onclick="moveLinkPage('/timeworks/confilm')">
                <img th:src="@{/icons/approved.png}"><span>勤怠確定</span>
            </div>
            <div class="index-btn" th:onclick="moveLinkPage('/dailypay')">
                <img th:src="@{/icons/payment.png}"><span>日払い</span>
            </div> -->
        </div>
    </div>
</body>

</html>