<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{content/index/indexLayout}">

<head>
    <title>ホーム</title>
</head>

<body>
    <div class="normal-body" layout:fragment="layout-body">
        <div class="index-btn-container">
            <div class="index-btn" th:onclick="moveLinkPage('/timeworks')">
                <img th:src="@{/icons/clock2.png}"><span>勤怠</span>
            </div>
            <div class="index-btn" th:onclick="moveLinkPage('/recycle')">
                <img th:src="@{/icons/recycle.png}"><span>リサイクル</span>
            </div>
            <div class="index-btn" th:onclick="moveLinkPage('/regist')">
                <img th:src="@{/icons/regist.png}"><span>登録</span>
            </div>
        </div>
    </div>
</body>

</html>