<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{content/index/indexLayout}">

<head>
    <title>物流</title>
</head>

<body>
    <div class="normal-body" layout:fragment="layout-body">
        <div class="index-btn-container">
            <div class="index-btn" th:onclick="moveLinkPage('/list/company')">
                <img th:src="@{/icons/buillding.png}"><span>会社</span>
            </div>
            <div class="index-btn" th:onclick="moveLinkPage('/list/office')">
                <img th:src="@{/icons/office.png}"><span>支店</span>
            </div>
        </div>
    </div>
</body>

</html>