<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{content/index/indexLayout}">

<head>
    <title>営業</title>
</head>

<body>
    <div class="normal-body" layout:fragment="layout-body">
        <div class="index-btn-container">
            <div class="index-btn" th:onclick="moveLinkPage('/')">
                <img th:src="@{/icons/noimage.png}"><span></span>
            </div>
        </div>
    </div>
</body>

</html>