<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,viewport-fit=cover">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/category.css}" rel="stylesheet" type="text/css">
    <style type="text/css">
        .categoryregist-container {
            position: relative;
            display: grid;
            grid-template-rows: auto auto 1fr;
            overflow: hidden;
            padding: 0 2rem;
            width: 40rem;
            height: 100%;
        }

        .categoryregist-content {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
        }

        .categoryregist-header {
            display: grid;
            grid-template-columns: 1fr 15rem 5rem 5rem 1fr;
            gap: .5rem;
            height: 4rem;
            align-items: center;
            margin-bottom: 2rem;
            background-color: darkkhaki;
            border-radius: .5rem;
        }

        .categoryregist-list {
            width: 30rem;
        }

        .categoryregist-content .img-btns {
            display: flex;
        }

        .categoryregist-content .img-btn {
            margin-bottom: .5rem;
            align-items: center;
        }

        .categoryregist-content .img-btn>img {
            padding: .2rem;
            width: 2rem;
        }

        @media screen and (max-width:560px) {
            .categoryregist-container {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <div th:replace="~{fragment/main::main-fragment-nosidebar}"></div>

    <script th:src="@{/js/default.js}"></script>
    <script th:src="@{/js/dialog.js}"></script>
    <script th:src="@{/js/combo.js}"></script>
    <script th:src="@{/js/categoryregist.js}"></script>
    <script type="text/JavaScript" th:inline="JavaScript">
        const updateStateCode = /*[[${updateStateCode}]]*/;
        const createStateCode = /*[[${createStateCode}]]*/;
        const deleteStateCode = /*[[${deleteStateCode}]]*/;
        const token = /*[[${_csrf.token}]]*/;
        let list = /*[[${list}]]*/;
        let origin = [];
        let categoryRegistClassList = [];
        const categoryClassList = 
            [{"id":1, "parent_name":"employment_status", "category_name":"雇用形態", "state":0},
             {"id":2, "parent_name":"company_class", "category_name":"企業区分", "state":0},
             {"id":3, "parent_name":"item_class", "category_name":"分類アイテム", "state":0}];

// 画面操作 ----------------------------------------------------------------------------------------------------------------------------------

            // カテゴリーリスト取得
            function getCategorylist(classId) {
                const classItem = categoryClassList.find(function(value) {return value.id == classId; });
                const items = list?.filter(value => { return value.parent_name == classItem.parent_name });
                if (items == null) return;
                let categorylist = [];
                items.forEach(function (item) {
                    let category = {"code":item.code, "number":item.class_category_id, "state":item.state, "text":item.category_name};
                    categorylist.push(category);
                });
                return categorylist;
            }

            // 保存時の処理
            async function execSaveCategoryRegist() {
                await saveCategoryRegist("/category/class/save", "/category/class/get");
            }

            // 仮IDを取得する
            function getCategoryRegistMaxId() {
                return Math.max.apply(null, list.map(function (value) { return value.class_category_id; }))
            }

            // listからアイテムを選択する
            function getSelectedItemCategoryRegistFromList(selectId) {
                return list?.find(function (value) { return value.class_category_id == selectId });
            }

            // listに追加する
            function addCategoryRegistItemToList(parent) {
                const parentArea = parent.closest('[name="categoryregist-area"]');
                if (parentArea == null) return;
                // リストエリアを取得
                const parentElm = parentArea.querySelector('[name="simple-list"]');
                if (parentElm == null) return;
                const maxId = getCategoryRegistMaxId();
         
                const inputElm = parentElm.querySelector('input');
                const listItems = parentElm.querySelectorAll('li');
                const classId = getCategoryClassId();
                const classItem = categoryClassList.find(function(value) {return value.id == classId; });
                const category = { "class_category_id": maxId, "code": listItems.length, "parent_name":classItem.parent_name, "category_name": inputElm.value, "state": createStateCode };
                list.push(category);
            }

            // listに追加する
            function updateCategoryRegistItemToList(selectElm) {
                const selectId = selectElm.dataset.number;
                const item = list.find(value => { return value.class_category_id == selectId });
                if (item != null) {
                    item.category_name = selectElm.textContent;
                    item.state = updateStateCode;
                }
            }

            // リストデータ取得
            function getCategoryRegistItems(elm) {
                if (elm == null) return;

                const parent = elm.closest('[name="simple-list"]');
                if (parent == null) return;
                const selectElm = parent.querySelector('li.selected');
                if (selectElm == null) return;

                const classId = getCategoryClassId();
                const className = categoryRegistClassList.find(function(value) {return value.id == classId; });

                const items = list.filter(value => { return value.parent_name == className });
                if (items == null) return;

                items.sort((a, b) => a.code > b.code ? 1 : -1);

                let categorylist = [];
                items.forEach(function (item) {
                    let category = { "number": item.class_category_id, "code": item.code, "state": item.state, "text": item.category_name };
                    categorylist.push(category);
                });
                return categorylist;
            }

            // listから選択したアイテムのコピーを作成する(階層全て)
            function copyCategoryRegistItem(selectId) {
                const parent = selectId.closest('[name="simple-list"]');
                if (parent == null) return;
                const selectItem = parent.querySelector('li.selected');
                const clone_selectItem = selectItem.cloneNode(true);
                const listElm = parent.querySelector('ul');
                const listItems = parent.querySelectorAll('li');
                const maxId = getCategoryRegistMaxId();

                clone_selectItem.onclick = e => changeCategoryRegistItems(e);    
                clone_selectItem.setAttribute('id', 'category-' + (maxId + 1))
                clone_selectItem.setAttribute('data-code', listItems.length + 1);
                clone_selectItem.setAttribute('data-number', maxId + 1);
                clone_selectItem.setAttribute('data-state', createStateCode);
                clone_selectItem.classList.remove('selected');
                clone_selectItem.addEventListener("dragstart", onDragStart);
                clone_selectItem.addEventListener("drop", onDrop);
                clone_selectItem.addEventListener("dragover", onDragover);
                clone_selectItem.addEventListener("dragenter", onDragenter);
                clone_selectItem.addEventListener("dragleave", onDragleave);

                const inputText = checkDuplicatesCategoryRegistItemAddAfterNumber(parent);
                clone_selectItem.innerHTML = inputText;
                listElm.insertAdjacentElement('beforeend', clone_selectItem);

                const selectItemId = Number(selectItem.dataset.number);
                const elm = list.find(function (value) { return value.class_category_id == selectItemId; });
                if (elm != null) {
                    let category = { "class_category_id": maxId + 1, "code": listItems.length + 1, "parent_name": elm.parent_name, "category_name": inputText, "state": createStateCode };
                    list.push(category);
                }
            }

            function getRewriteAllStatusCodes(id) {
                return list.find(function (value) { return value.class_category_id == id; });
            }

// 初期化時の処理 ------------------------------------------------------------------------------------------------------------------------------------
            // 読み込み時の処理
            window.addEventListener("load", () => {
                origin = structuredClone(list);

                const parentArea = document.getElementById('categoryregist-area1');
                const listElm = createCategoryRegistContent(1);
                const inputElm = listElm.querySelector('input');
                const className = "";
                parentArea.insertAdjacentElement('beforeend', listElm);

                const header = document.getElementById('categoryregist-header');
                categoryClassList.forEach(item => {
                    const jsonData = {"number":item.id, "text":item.category_name, "state":0};
                    categoryRegistClassList.push(jsonData);
                });
                if (categoryRegistClassList.length > 0) {
                    const classCombo = createComboBox(categoryRegistClassList, 'classList', 0, changeItemCategoryClassSelected);
                    header.insertAdjacentElement('beforeend', classCombo);
                }

                processingEnd();
            });

            window.addEventListener('beforeunload', (e) => {
                const check = list.find(value => { return value.state != 0 });
                if (check != null) {
                    const message = '保存されていないデータがあります。ページを離れますか？';
                    e.preventDefault();
                    e.returnValue = message;
                    return message;
                }
            });
            
        </script>
    </div>
</body>

</html>