<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,viewport-fit=cover">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/recycle.css}" rel="stylesheet" type="text/css">
    <style type="text/css">
        .recycleregist-container {
            min-width: 61rem;
            max-width: 80rem;
        }

        .recycleregist-content {
            height: 100%;
            overflow: hidden;
        }

        .recycleregist-container>header {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            padding: .5rem 1rem;
            margin-bottom: 1rem;
            border: 1px solid var(--br);
            border-radius: .5rem;
            padding: 2rem;
            margin: 0;
        }

        .recycleregist-inputs {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: .5rem;
        }

        .recycleregist-inputs>.recycleregist-input:first-child {
            display: grid;
            gap: .5rem;
            grid-template-columns: 1fr 1fr 10rem 1fr;
        }

        .recycleregist-inputs>.recycleregist-input:nth-child(2) {
            display: grid;
            gap: .5rem;
            grid-template-columns: 10rem 1fr 1fr;
        }

        .recycleregist-inputs>.recycleregist-input:nth-child(3) {
            display: grid;
            gap: .5rem;
            grid-template-columns: 8rem 8rem 5rem 1fr repeat(4, 5rem);
            align-items: end;
        }

        .form-dialog-parts>.multiple {
            display: grid;
            gap: .5rem;
            grid-template-columns: 5rem 1fr;
        }

        .form-dialog-parts>div[name="fixcomp"] {
            display: flex;
        }

        input[name="fixcomp-chk"] {
            margin-left: 2rem;
            vertical-align: middle;
        }

        .tablelist-container.recycle {
            margin-top: 1rem;
        }

        .tablelist-container.recycle tr {
            grid-template-columns: 3rem 11rem 7rem 1fr 1fr 1fr 3rem;
        }

        .dialog-content[name="recycle-input-area"] {
            width: 40rem;
        }

        @media screen and (max-width:560px) {
            .recycleregist-container {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <div th:replace="~{fragment/main::main-fragment-nosidebar}"></div>

    <script th:src="@{/js/default.js}"></script>
    <script th:src="@{/js/dialog.js}"></script>
    <script th:src="@{/js/list.js}"></script>
    <script th:src="@{/js/check.js}"></script>
    <script th:src="@{/js/recycle.js}"></script>
    <script type="text/JavaScript" th:inline="JavaScript">
        const updateStateCode = /*[[${updateStateCode}]]*/;
        const createStateCode = /*[[${createStateCode}]]*/;
        const deleteStateCode = /*[[${deleteStateCode}]]*/;
        const token = /*[[${_csrf.token}]]*/;
        const makerlist = /*[[${makerlist}]]*/;
        const classlist = /*[[${classlist}]]*/;
        const pricelist = /*[[${pricelist}]]*/;
        let list = [];
        
// ----------------------------------------------------------------------------------------------------------------------------------

            function createRecyleTableListHeader() {
                const tbl = document.getElementById('tablelist');
                const names = ['お問合せ管理票番号', '使用日', '品目', '略称', '小売業者'];
                if (tbl != null) {
                    const newRow = tbl.insertRow();
                    newRow.setAttribute('id', 'row0');
                    newRow.setAttribute('name', 'tablelist-header');
                    // 選択用チェックボックス
                    const chkCell = document.createElement('th');
                    chkCell.setAttribute('name', 'chk-cell');
                    chkCell.innerHTML = '<input id="all-chk-btn" class="normal-chk" type="checkbox" onclick="clickAllCheckBtn(this)">';
                    newRow.insertAdjacentElement('beforeend', chkCell);
                    names.forEach(function (name) {
                        let cell = document.createElement('th');
                        cell.textContent = name;
                        newRow.insertAdjacentElement('beforeend', cell);
                    });
                }
            }

            function createRecyleTableListContent(item) {
                const tbl = document.getElementById('tablelist');
                let newRow = tbl.insertRow();
                    newRow.setAttribute('id', 'row' + item.recycle_id);
                    newRow.setAttribute('name', 'data-row');
                    // 選択用チェックボックス
                    let chk = newRow.insertCell();
                    chk.setAttribute('name', 'chk-cell');
                    chk.onclick = function () { clickCheckBtn(item.recycle_id, this); }
                    chk.innerHTML = '<input id="chk' + item.recycle_id + '" class="normal-chk" name="chk-box" type="checkbox" value="' + item.recycle_id + '">';
                    // リサイクル券番号
                    let numberCell = newRow.insertCell();
                    numberCell.setAttribute('name', 'recycle-number');
                    numberCell.innerHTML += '<span>' + item.recycle_number + '</span>';
                    // 使用日
                    let usedateCell = newRow.insertCell();
                    usedateCell.setAttribute('name', 'recycle-usedate');
                    usedateCell.innerHTML += '<span>' + item.recycle_usedate + '</span>';
                    // 品目
                    let classCell = newRow.insertCell();
                    classCell.setAttribute('name', 'recycle-class');
                    classCell.innerHTML += '<span>' + item.recycle_class_name + '</span>';
                    // メーカー
                    let makerCell = newRow.insertCell();
                    makerCell.setAttribute('name', 'recycle-maker');
                    makerCell.innerHTML += '<span>' + item.recycle_maker_name + '</span>';
                    // 小売業者等名
                    let shipperCell = newRow.insertCell();
                    shipperCell.setAttribute('name', 'recycle-shipper');
                    shipperCell.innerHTML += '<span>' + item.recycle_shipper_name + '</span>';
            }

            function execRecycleNumberInputChanged(e) {
                if (e.target.value == "") return;

                if(e.key === 'Enter'){
                    e.preventDefault();
                    const nextBlock = document.querySelector('[name="recycle-class-code"]');
                    if (nextBlock != null) nextBlock.focus();
                }
            }

            function execRecycleNumberInputBlur(e) {
                if (e.target.value == "") return;
                checkRecycleNumberInput(e);
            }

            // メーカーコード入力時の処理
            function execRecycleMakerInputChanged(e) {
                if (e.target.value == "") return;

                if(e.key === 'Enter'){
                    const area = e.target.closest('[name="recycle-input-area"]');
                    if (area == null) return;
                    e.preventDefault();
                    const nextBlock = area.querySelector('[name="add-btn"]');
                    if (nextBlock != null) nextBlock.focus();
	            }
            }

            // メーカーコードからフォーカス移動時の処理
            function execRecycleMakerInputBlur(e) {
                if (e.target.value == "") return;
                checkRecycleMakerInput(e);
            }

            function checkRecycleMakerInput(e) {
                const parent = e.target.closest('.form-dialog-parts');
                const name = parent.querySelector('[name="recycle-maker-name"]');
                if (name == null) return;
                if (makerlist == null || e.target.value.length != 3 || isNaN(e.target.value) == true) {
                    e.target.value = "";
                    name.value = "";
                    return;
                }
                const maker = makerlist.find(value => { return value.recycle_maker_code == e.target.value});
                if (maker != null) {
                    name.value = maker.recycle_maker_name;
                    execRecyclePriceInput(e);
                } else {
                    e.target.value = "";
                    name.value = "";
                }
            }

            // 品目コード入力時の処理
            function execRecycleClassInputChanged(e) {                
                if (e.target.value == "") return;

                if(e.key === 'Enter'){
                    const area = e.target.closest('[name="recycle-input-area"]');
                    if (area == null) return;
                    e.preventDefault();
                    const nextBlock = area.querySelector('[name="recycle-maker-code"]');
                    if (nextBlock != null) nextBlock.focus();
	            }
            }

            function execRecycleClassInputBlur(e) {                
                if (e.target.value == "") return;
                checkRecycleClassInput(e);
            }

            function checkRecycleClassInput(e) {
                const parent = e.target.closest('.form-dialog-parts');
                const name = parent.querySelector('[name="recycle-class-name"]');
                if (name == null) return;
                if (classlist == null || e.target.value.length != 2 || isNaN(e.target.value) == true) {
                    e.target.value = "";
                    name.value = "";
                    return;
                }
                const item = classlist.find(value => { return value.recycle_class_code == e.target.value});
                if (item != null) {
                    name.value = item.recycle_class_name;
                    execRecyclePriceInput(e);
                } else {
                    e.target.value = "";
                    name.value = "";
                }
            }

            function execRecyclePriceInput(e) {
                const area = e.target.closest('[name="recycle-input-area"]');
                if (area == null) return;

                const makerCode = area.querySelector('[name="recycle-maker-code"]');
                if (makerCode == null) return;
                const classCode = area.querySelector('[name="recycle-class-code"]');
                if (classCode == null) return;
                const item = pricelist.find(function(value) { return value.recycle_maker_code == makerCode.value && value.recycle_price_code == classCode.value});
                if (item == null) return;
                const priceBox = area.querySelector('[name="recycle-price"]');
                if (priceBox == null) return;
                const taxBox = area.querySelector('[name="recycle-ex-tax"]');
                if (taxBox == null) return;
                priceBox.value = item.price;
                taxBox.value = item.ex_tax;
            }

            async function execAddRecycleRegist() {
                const company = document.querySelector("[name='recycle-company']");
                if (company == null) return;
                const companyname = company.options[company.selectedIndex].textContent
                const office = document.querySelector("[name='recycle-office']");
                if (office == null) return;
                const officename = office.selectedIndex > -1 ? office.options[office.selectedIndex].textContent: "";
                const usedate = document.querySelector("[name='recycle-usedate']");
                if (usedate == null) return;
                if (usedate.value == "") {
                    createMessageDialog("使用日を入力してください", "エラー", "red");
                    return;
                }                
                const number = document.querySelector("[name='recycle-number']");
                if (number == null) return;
                if (number.value == "") {
                    createMessageDialog("お問合せ管理票番号を入力してください", "エラー", "red");
                    return;
                }
                const check = list.find(function(value) { return value.recycle_number == number.value })
                if (check != null) {
                    createMessageDialog("すでに追加済みです", "エラー", "red");
                    resetInputBox();
                    number.focus();
                    return;
                }
                const recycle = await checkRecycleNumberRegist();
                if (recycle == true) {
                    createMessageDialog("すでに登録済みです", "エラー", "red");
                    resetInputBox();
                    number.focus();
                    return;
                }
                const loss = await checkRecycleNumberLossRegist();
                if (loss == true) {
                    createMessageDialog("すでにロス処理されています", "エラー", "red");
                    resetInputBox();
                    number.focus();
                    return;
                }
                const makercode = document.querySelector("[name='recycle-maker-code']");
                if (makercode == null) return;
                if (makercode.value == "") {
                    createMessageDialog("製造業者コードを入力してください", "エラー", "red");
                    return;
                }
                const makername = document.querySelector("[name='recycle-maker-name']");
                if (makername == null) {
                    createMessageDialog("製造業者が入力されていません", "エラー", "red");
                    return;
                }
                const classcode = document.querySelector("[name='recycle-class-code']");
                if (classcode == null) return;
                if (classcode.value == "") {
                    createMessageDialog("品目コードを入力してください", "エラー", "red");
                    return;
                }
                const classname = document.querySelector("[name='recycle-class-name']");
                if (classname == null) {
                    createMessageDialog("品目が入力されていません", "エラー", "red");
                    return;
                }
                const priceElm = document.querySelector("[name='recycle-price']");
                if (priceElm == null) return;
                const price = priceElm.value == "" ? 0: priceElm.value;
                const taxElm = document.querySelector("[name='recycle-ex-tax']");
                if (taxElm == null) return;
                const tax = taxElm.value == "" ? 0: taxElm.value;

                const maxId = list.length > 0 ? Math.max.apply(null, list.map(function (value) { return value.recycle_id; })): 0;

                const item = { 
                    "recycle_id":maxId + 1, 
                    "recycle_number":number.value, 
                    "recycle_company_id":company.value, 
                    "recycle_office_id":office.value,                    
                    "recycle_usedate":usedate.value,
                    "recycle_deliverydate":"9999-12-31",
                    "recycle_shippingdate":"9999-12-31",
                    "recycle_lossdate":"9999-12-31",
                    "recycle_class_code":classcode.value,
                    "recycle_class_name":classname.value,
                    "recycle_maker_code":makercode.value,
                    "recycle_maker_name":makername.value,
                    "recycle_shipper_name":companyname + " " + officename,
                    "recycle_price":price,
                    "recycle_ex_tax":tax,
                    "state":createStateCode,
                }
                createRecyleTableListContent(item);
                list.push(item);

                resetInputBox();
                number.focus();
            }

            function resetInputBox() {
                const usedate = document.querySelector('[name="recycle-usedate"]');
                if (usedate != null) usedate.value == "";
                const number = document.querySelector('[name="recycle-number"]');
                if (number != null) number.value = "";
                const makercode = document.querySelector('[name="recycle-maker-code"]');
                const makername = document.querySelector('[name="recycle-maker-name"]');
                if (makercode != null && makername != null) {
                    const check = document.querySelector('[name="fixcomp-chk"]');
                    if (check == null) return;
                    if (check.checked == false){
                        makercode.value = "";
                        makername.value = "";
                    }  
                }
                const classcode = document.querySelector('[name="recycle-class-code"]');
                if (classcode != null) classcode.value = "";
                const classname = document.querySelector('[name="recycle-class-name"]');
                if (classname != null) classname.value = "";
                const price = document.querySelector('[name="recycle-price"]');
                if (price != null) price.value = "";
                const tax = document.querySelector('[name="recycle-ex-tax"]');
                if (tax != null) tax.value = "";
            }

            async function execSaveRecycleRegist() {
                await saveRecycleRegist("/recycle/save");
            }

            async function execUpdateRecycleRegist() {
                const updatelist = getSelectedItems();
                let updateitem = {};
                updateitem.recycle_company_id = getUpdateRecycleCompanyId(updatelist);
                updateitem.recycle_office_id = getUpdateRecycleOfficeId(updatelist, updateitem.recycle_company_id);
                updateitem.recycle_usedate = getUpdateRecycleUsedate(updatelist);
                updateitem.recycle_class_code = getUpdateRecycleClassCode(updatelist);
                updateitem.recycle_class_name = getUpdateRecycleClassName(updatelist);
                updateitem.recycle_maker_code = getUpdateRecycleMakerCode(updatelist);
                updateitem.recycle_maker_name = getUpdateRecycleMakerName(updatelist);
                updateitem.recycle_price = getUpdateRecyclePrice(updatelist);
                updateitem.recycle_ex_tax = getUpdateRecycleExTax(updatelist);
                await createRecycleCompanyComboBox(updateitem, /*[[${shipperlist}]]*/)
            }

            // 修正をlistに保存する
            function execUpdateFormData() {
                startProcessing();

                const updatelist = getSelectedItems();
                const form = document.getElementById('recycle-form');
                const formData = new FormData(form);
                const company_id = formData.get('recycle-company') ?? -1;
                const office_id = formData.get('recycle-office') ?? -1;
                const maker_code = formData.get('recycle-maker-code') ?? -1;
                const maker_name = formData.get('recycle-maker-name') ?? "";
                const class_code = formData.get('recycle-class-code') ?? -1;
                const class_name = formData.get('recycle-class-name') ?? "";
                const usedate = formData.get('recycle-usedate') ?? "";
                const price = formData.get('recycle-price') ?? -1;
                const ex_tax = formData.get('recycle-ex-tax') ?? -1;

                const company = form.querySelector('select[name="recycle-company"]');
                const office = form.querySelector('select[name="recycle-office"]');
                setUpdatelistOfShipperName(updatelist, company, office);

                setUpdatelistOfCompanyId(updatelist, company_id);
                setUpdatelistOfOfficeId(updatelist, office_id);
                setUpdatelistOfMakerCode(updatelist, maker_code);
                setUpdatelistOfMakerName(updatelist, maker_name);
                setUpdatelistOfClassCode(updatelist, class_code);
                setUpdatelistOfClassName(updatelist, class_name);
                setUpdatelistOfUsedate(updatelist, usedate);
                setUpdatelistOfPrice(updatelist, price);
                setUpdatelistOfPrice(updatelist, price);
                setUpdatelistOfExTax(updatelist, ex_tax);

                closeDialog('form-dialog-area', event);
                renewRecycleRegistDisplay();

                processingEnd();
            }

            function getFormDialogContent(item) {
                const elmContent = document.createElement('form');
                elmContent.classList.add('dialog-content');
                elmContent.setAttribute('name' ,'recycle-input-area');
                elmContent.setAttribute('id', 'recycle-form');
                elmContent.setAttribute('data-id', item.recycle_id);

                const shipper = document.createElement('div');
                shipper.classList.add('form-dialog-parts', 'cp6');
                const shipperLabel = document.createElement('label');
                shipperLabel.textContent = "小売業者"
                const shipperSelect = document.createElement('select');
                shipperSelect.setAttribute('name', 'recycle-company');
                shipperSelect.classList.add('normal-select');
                shipperSelect.onchange = function() { createShipperOffice(this) };
                shipperSelect.value = item.recycle_company_id;
                shipper.insertAdjacentElement('beforeend', shipperLabel);
                shipper.insertAdjacentElement('beforeend', shipperSelect);
                elmContent.insertAdjacentElement('beforeend', shipper);

                const office = document.createElement('div');
                office.classList.add('form-dialog-parts', 'cp6', 'ct7');
                const officeLabel = document.createElement('label');
                officeLabel.textContent = "支店";
                const officeSelect = document.createElement('select');
                officeSelect.setAttribute('name', 'recycle-office');
                officeSelect.classList.add('normal-select');
                officeSelect.value = item.recycle_office_id;
                office.insertAdjacentElement('beforeend', officeLabel);
                office.insertAdjacentElement('beforeend', officeSelect);
                elmContent.insertAdjacentElement('beforeend', office);

                const recycleClass = document.createElement('div');
                recycleClass.classList.add('form-dialog-parts', 'separate', 'cp6');
                const recycleClassLabel = document.createElement('label');
                recycleClassLabel.classList.add('cp12');
                recycleClassLabel.textContent = "品目";
                const classCodeInput = document.createElement('input');
                classCodeInput.setAttribute('name', 'recycle-class-code');
                classCodeInput.classList.add('normal-input', 'cp3');
                if (item.recycle_class_code != -1) classCodeInput.value = item.recycle_class_code;
                classCodeInput.onfocus = function () { this.select(); }
                classCodeInput.setAttribute('inputmode', 'numeric');
                classCodeInput.setAttribute('pattern', '\d*');
                classCodeInput.setAttribute('maxlength', '2');
                classCodeInput.addEventListener('keydown', function (e) { execRecycleClassInputChanged(e); });
                classCodeInput.addEventListener('blur', function (e) { execRecycleClassInputBlur(e); });
                const classNameInput = document.createElement('input');
                classNameInput.setAttribute('name', 'recycle-class-name');
                classNameInput.classList.add('normal-input', 'cp9', 'ct4');
                classNameInput.value = item.recycle_class_name;
                classNameInput.readOnly = true;
                recycleClass.insertAdjacentElement('beforeend', recycleClassLabel);
                recycleClass.insertAdjacentElement('beforeend', classCodeInput);
                recycleClass.insertAdjacentElement('beforeend', classNameInput);
                elmContent.insertAdjacentElement('beforeend', recycleClass);

                const recycleMaker = document.createElement('div');
                recycleMaker.classList.add('form-dialog-parts', 'separate', 'cp6', 'ct7');
                const recycleMakerLabel = document.createElement('label');
                recycleMakerLabel.classList.add('cp12');
                recycleMakerLabel.textContent = "略称";
                const makerCodeInput = document.createElement('input');
                makerCodeInput.setAttribute('name', 'recycle-maker-code');
                makerCodeInput.classList.add('normal-input', 'cp3');
                if (item.recycle_maker_code != -1) makerCodeInput.value = item.recycle_maker_code;
                makerCodeInput.onfocus = function () { this.select(); }
                makerCodeInput.setAttribute('inputmode', 'numeric');
                makerCodeInput.setAttribute('pattern', '\d*');
                makerCodeInput.setAttribute('maxlength', '3');
                makerCodeInput.addEventListener('keydown', function (e) { execRecycleMakerInputChanged(e); });
                makerCodeInput.addEventListener('blur', function (e) { execRecycleMakerInputBlur(e); });
                const makerNameInput = document.createElement('input');
                makerNameInput.setAttribute('name', 'recycle-maker-name');
                makerNameInput.value = item.recycle_maker_name;
                makerNameInput.classList.add('normal-input', 'cp9', 'ct4');
                makerNameInput.readOnly = true;
                recycleMaker.insertAdjacentElement('beforeend', recycleMakerLabel);
                recycleMaker.insertAdjacentElement('beforeend', makerCodeInput);
                recycleMaker.insertAdjacentElement('beforeend', makerNameInput);
                elmContent.insertAdjacentElement('beforeend', recycleMaker);

                const usedate = document.createElement('div');
                usedate.classList.add('form-dialog-parts', 'cp3');
                const usedateLabel = document.createElement('label');
                usedateLabel.textContent = "使用日";
                const usedateInput = document.createElement('input');
                usedateInput.setAttribute('name', 'recycle-usedate');
                usedateInput.setAttribute('type', 'date');
                usedateInput.classList.add('normal-input');                
                usedateInput.onfocus = function () { this.select(); }
                usedateInput.value = item.recycle_usedate;
                usedate.insertAdjacentElement('beforeend', usedateLabel);
                usedate.insertAdjacentElement('beforeend', usedateInput);
                elmContent.insertAdjacentElement('beforeend', usedate);

                const price = document.createElement('div');
                price.classList.add('form-dialog-parts', 'cp3', 'ct5');
                const priceLabel = document.createElement('label');
                priceLabel.textContent = "税込";
                const priceInput = document.createElement('input');
                priceInput.setAttribute('name', 'recycle-price');
                priceInput.classList.add('normal-input');                
                priceInput.onfocus = function () { this.select(); }
                if (item.recycle_price != -1) priceInput.value = item.recycle_price;
                priceInput.setAttribute('inputmode', 'numeric');
                priceInput.setAttribute('pattern', '\d*');
                price.insertAdjacentElement('beforeend', priceLabel);
                price.insertAdjacentElement('beforeend', priceInput);
                elmContent.insertAdjacentElement('beforeend', price);

                const tax = document.createElement('div');
                tax.classList.add('form-dialog-parts', 'cp3', 'ct8');
                const taxLabel = document.createElement('label');
                taxLabel.textContent = "税抜";
                const taxInput = document.createElement('input');
                taxInput.setAttribute('name', 'recycle-ex-tax');
                taxInput.classList.add('normal-input');                
                taxInput.onfocus = function () { this.select(); }
                if (item.recycle_ex_tax != -1) taxInput.value = item.recycle_ex_tax;
                taxInput.setAttribute('inputmode', 'numeric');
                taxInput.setAttribute('pattern', '\d*');
                tax.insertAdjacentElement('beforeend', taxLabel);
                tax.insertAdjacentElement('beforeend', taxInput);
                elmContent.insertAdjacentElement('beforeend', tax);

                return elmContent;
            }

            function execDeleteRecycleRegist() {
                deleteRecycleRegist();
            }

// 初期化時の処理 ------------------------------------------------------------------------------------------------------------------------------------
            // 読み込み時の処理
            window.addEventListener("load", () => {
                // リサイクル券番号入力ボックスでエンターキーが押された時の処理を登録
                document.querySelector('[name="recycle-number"]').addEventListener('keydown', function (e) { execRecycleNumberInputChanged(e); });
                // メーカーコード入力ボックスでエンターキーが押された時の処理を登録
                document.querySelector('[name="recycle-maker-code"]').addEventListener('keydown', function (e) { execRecycleMakerInputChanged(e); });
                // 品目入力ボックスでエンターキーが押された時の処理を登録
                document.querySelector('[name="recycle-class-code"]').addEventListener('keydown', function (e) { execRecycleClassInputChanged(e); });

                // リサイクル券番号入力ボックスのフォーカスが外れた時の処理を登録
                document.querySelector('[name="recycle-number"]').addEventListener('blur', function (e) { execRecycleNumberInputBlur(e); });
                // メーカーコード入力ボックスのフォーカスが外れた時の処理を登録
                document.querySelector('[name="recycle-maker-code"]').addEventListener('blur', function (e) { execRecycleMakerInputBlur(e); });
                // 品目入力ボックスのフォーカスが外れた時の処理を登録
                document.querySelector('[name="recycle-class-code"]').addEventListener('blur', function (e) { execRecycleClassInputBlur(e); });
                
                createRecyleTableListHeader();

                const company = document.querySelector('[name="recycle-company"]');
                company.insertAdjacentHTML('beforeend', '<option value="0"></option>');
                createRecyleComboBox(company, /*[[${shipperlist}]]*/);

                // 処理が終了したらスピナーを消去する
                processingEnd();
            });

            window.addEventListener('beforeunload', (e) => {
                const check = list.find(value => { return value.state != 0 });
                if (check != null) {
                    const message = '保存されていないデータがあります。ページを離れますか？';
                    e.preventDefault();
                    e.returnValue = message;
                    return message;
                }
            });
            
            // フォーム送信時に確認ダイアログを無効化
            document.querySelector('form').addEventListener('submit', function() {
                window.onbeforeunload = null;
            });
        </script>
    </div>
</body>

</html>