@charset "UTF-8";
@import url("/css/item/style.css");
@import url("/css/item/color.css");
@import url("/css/item/button.css");
@import url("/css/item/input.css");
@import url("/css/item/dialog.css");
@import url("/css/item/table.css");
@import url("/css/item/parts.css");
@import url("/css/item/select.css");
@import url("/css/item/screen.css");

/******************************************************************************************************* 基本 */

.tablelist-container.dailypay {
    padding: 0 2rem;
    max-width: 60rem;
}

.tablelist-container.dailypay>header {
    grid-template-columns: 1fr;
}

.tablelist-container.dailypay>header>div:first-child {
    display: grid;
    grid-template-columns: 24rem 4rem 14rem 8rem;
    gap: .5rem;
}

.tablelist-container.dailypay>header>div:nth-child(2) {
    margin-top: .5rem;
    display: grid;
    grid-template-columns: 13rem 13rem 13rem repeat(3, 4rem);
    gap: .5rem;
}

.dailypay-between {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 1rem 1fr;
}


.dailypay-month-select {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 4rem;
}

.dailypay-day-select {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 4rem;
}

.dailypay-week-select {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 4rem;
}

.dailypay-between>span,
.dailypay-month-select>span,
.dailypay-day-select>span,
.dailypay-week-select>span {
    align-self: center;
    justify-self: center;
}

.dailypay tr {
    grid-template-columns: 3rem 5rem 1fr 7rem 5rem 5rem 5rem 5rem 5rem;
}

.dailypay tr>td>span[data-statestr="確定"]:before {
    content: attr(data-statestr);
    color: red;
}

.dailypay tr>td>span[data-statestr="未定"]:before {
    content: attr(data-statestr);
    color: black;
}

.dailypay tr>td>span[data-printstatestr="済"]:before {
    content: attr(data-printstatestr);
    color: red;
}

.dailypay tr>td>span[data-printstatestr="未"]:before {
    content: attr(data-printstatestr);
    color: black;
}

.dailypay tr>td>span[data-paystatestr="済"]:before {
    content: attr(data-paystatestr);
    color: red;
}

.dailypay tr>td>span[data-paystatestr="未"]:before {
    content: attr(data-paystatestr);
    color: black;
}

.dialog-content.dailypay {
    width: 25rem;
}

.dialog-content.cash-expenses {
    width: 25rem;
    padding: 2rem;
}

#print-dialog-area {
    background-color: var(--white);
}
/* プリント用 */
.print-table.dailypay {
    width: 210mm;
    height: 297mm;
    padding: 10mm;
    break-after: page;
    border-spacing: 0;
}

.print-table.dailypay td {
    border: solid 1px var(--black);
}

.print-table.dailypay td.text-right {
    text-align: right;
}

.print-table.dailypay td.text-left {
    text-align: left;
}

.print-table.dailypay td.text-center {
    text-align: center;
}

.print-table.dailypay tr:nth-child(6n+1) td {
    border: 0;
    height: 8%;
    font-size: 10px;
    background-color: var(--white);
}

.print-table.dailypay tr:nth-child(6n+2) td {
    border-right: 0;
    border-bottom: 0;
    height: 2.5%;
    font-size: 7px;
    background-color: var(--white);
}

.print-table.dailypay tr:nth-child(6n+2) td:last-child {
    border-right: solid 1px var(--black);
}

.print-table.dailypay tr:nth-child(6n+3) td {
    border-right: 0;
    border-bottom: 0;
    height: 2.5%;
    font-size: 7px;
    background-color: var(--white);
}

.print-table.dailypay tr:nth-child(6n+4) td {
    border-right: 0;
    border-bottom: 0;
    height: 2.8%;
    font-size: 6px;
    background-color: var(--white);
}

.print-table.dailypay tr:nth-child(6n+4) td:last-child {
    border-right: solid 1px var(--black);
}

.print-table.dailypay tr:nth-child(6n+5) td {
    border-right: 0;
    height: 4%;
    font-size: 7px;
    background-color: var(--white);
}

.print-table.dailypay tr:nth-child(6n+5) td:last-child {
    border-right: solid 1px var(--black);
}

.print-table.dailypay tr:nth-child(6n) td {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px dashed var(--black);
    height: 4%;
    background-color: var(--white);
}

.print-table.dailypay tr:nth-child(24) td {
    border: 0;
    background-color: var(--white);
    break-after: page;
}

.print-table.dailypay tr.space-cell {
    height: 50%;
    background-color: var(--white);
}