@charset "UTF-8";
@import url("/css/item/style.css");
@import url("/css/item/color.css");
@import url("/css/item/button.css");
@import url("/css/item/input.css");
@import url("/css/item/dialog.css");
@import url("/css/item/table.css");
@import url("/css/item/parts.css");
@import url("/css/item/screen.css");
@import url("/css/item/list.css");
@import url("/css/item/hamburger.css");

/******************************************************************************************************* 基本 */

.recycleregist-container {
    position: relative;
    display: grid;
    grid-column: 1fr;
    grid-template-rows: auto auto 1fr auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
}

.recycleregist-inputs>.recycleregist-input input[name="recycle-number"] {
    padding: 0 3.5rem 0 .8rem;
    position: relative;
}
.recycleregist-input div[name="camera-btn"] {
    position: absolute;
    right: 0;
    top: 1.9rem;
    width: 3rem;
}
.form-dialog-parts {
    position: relative;
}
#interactive {
    width: 100vw;
}
#interactive>video {
    width: 100vw;
}
#interactive>canvas {
    width: 100vw;
}
.drawingBuffer {
    position: absolute;
    left: 0;
}
/* .camera-area {
    position: fixed;
    display: none;
}
.camera-area.open {
    display: block;
} */
.camera-area>.img-btn.close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    width: 4rem;
    filter: brightness(.3) invert(.7);
}
/* .recycleregist-container>main {
    overflow: auto;
    height: 100%;
} */