<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- 本体 -->
    <div class="normal-content" th:fragment="bodyFragment">
        <!-- ハンバーガー -->
        <div th:replace="~{fragments/sidebar :: sidebarFragment}"></div>
        <!-- サイドバー -->
        <div class="normal-sidebar" th:insert="~{__${sidebarFragmentName}__}"></div>
        <!-- ボディ -->
        <div class="normal-body">
            <div class="tab-area">
                <ul class="tab-menu">
                    <li class="tab-menu-item is-active" data-tab="01">社員</li>
                    <li class="tab-menu-item" data-tab="02">アルバイト</li>
                </ul>
                <div class="tab-panel is-show" data-panel="01">
                    <div class="table-area">
                        <!-- ヘッダー -->
                        <header th:replace="~{fragments/personnel/working_conditions:: headerFragment('search-box-01')}"></header>
                        <!-- コンテンツ -->
                        <main th:replace="~{fragments/personnel/working_conditions :: mainFragment('table-01', 'table-01-content')}"></main>
                        <!-- フッター -->
                        <footer id="footer-01" class="pc-style" th:insert="~{fragments/personnel/working_conditions :: footerFragment()}"></footer>
                    </div>
                </div>
                <div class="tab-panel" data-panel="02">
                    <div class="table-area">
                        <!-- ヘッダー -->
                        <header th:replace="~{fragments/personnel/working_conditions :: headerFragment('search-box-02')}"></header>
                        <!-- コンテンツ -->
                        <main th:replace="~{fragments/personnel/working_conditions :: mainFragment('table-02', 'table-02-content')}"></main>
                        <!-- フッター -->
                        <footer id="footer-02" class="pc-style" th:insert="~{fragments/personnel/working_conditions :: footerFragment()}"></footer>
                    </div>
                </div>
            </div>
        </div>
        <div id="form-dialog-area">
            <!-- フォーム画面をここに記入する -->
             <div id="form-dialog-01" class="form-dialog none">
                <div class="dialog-header"><span></span>
                    <div class="img-btn" onclick="closeFormDialog('form-dialog-01', event)"><img title="閉じる" src="/icons/close-s.png"></div>
                </div>
                <form id="form-01" class="dialog-content">
                    <input name="working-conditions-id" type="hidden" value="">
                    <input name="employee-id" type="hidden" value="">
                    <input name="category" type="hidden" value="">
                    <input name="version" type="hidden" value="">
                    <div class="flex-area">
                        <span id="employee-name"></span>
                    </div>
                    <div class="flex-area">
                        <div class="form-parts">
                            <label>支払い方法</label>
                            <select tabindex="1" name="payment-method" class="normal-select"></select>
                        </div>
                        <div class="form-parts">
                            <label>給与形態</label>
                            <select tabindex="2" name="pay-type" class="normal-select"></select>
                        </div>
                    </div>
                    <div class="flex-area">
                        <div class="form-parts">
                            <label>基本給 / 時給</label>
                            <input tabindex="3" name="base-salary" class="normal-input text-right" type="text" inputmode="numeric" pattern="\d*" value="" onfocus="this.select();">
                        </div> 
                        <div class="form-parts">
                            <label>交通費</label>
                            <input tabindex="4" name="trans-cost" class="normal-input text-right" type="text" inputmode="numeric" pattern="\d*" value="" onfocus="this.select();">
                        </div>
                        <div class="form-parts">
                            <label>始業時間</label>
                            <input tabindex="5" name="basic-start-time" class="normal-input icon-del" type="time" value="" onfocus="this.select();">
                        </div>
                        <div class="form-parts">
                            <label>終業時間</label>
                            <input tabindex="6" name="basic-end-time" class="normal-input icon-del" type="time" value="" onfocus="this.select();">
                        </div>
                    </div>
                </form>
                <div class="dialog-footer">
                    <button class="normal-btn frameless" type="button" onclick="closeFormDialog('form-dialog-01', event)"><span>キャンセル</span></button>
                    <button tabindex="7" class="normal-btn ok" type="button" onclick="execSave()"><span>保存</span></button>
                </div>
            </div>
        </div>
        <div id="msg-dialog-area">
            <div th:replace="~{fragments/dialog :: messageFragment}"></div>
        </div>
        <script th:src="@{/js/table.js}"></script>
        <script th:src="@{/js/info.js}"></script>
        <script th:src="@{/js/file.js}"></script>
        <script th:src="@{/js/enterfocus.js}"></script>
        <script type="text/JavaScript" th:inline="JavaScript">
            const token = /*[[${_csrf.token}]]*/;
            const user = /*[[${user}]]*/;
            const formEntity = /*[[${formEntity}]]*/;
            const categoryEmployeeCode = /*[[${categoryEmployeeCode}]]*/;
            const categoryParttimeCode = /*[[${categoryParttimeCode}]]*/;
            const paymentMethodComboList = /*[[${paymentMethodComboList}]]*/;
            const payTypeComboList = /*[[${payTypeComboList}]]*/;
            let origin = /*[[${origin}]]*/; // 初期リスト記憶用

/******************************************************************************************************* 入力画面 */

            // リスト画面の本体部分を作成する
            function createTableContent(tableId, list) {
                const tbl = document.getElementById(tableId);
                list.forEach(function (item) {
                    let newRow = tbl.insertRow();
                    // ID（Post送信用）
                    newRow.setAttribute('name', 'data-row');
                    newRow.setAttribute('data-id', item.employee_id);
                    // シングルクリック時の処理
                    newRow.onclick = function (e) {
                        if (!e.currentTarget.classList.contains('selected')){
                            // すべての行の選択状態を解除する
                            detachmentSelectClassToAllRow(tbl, false);
                            // 選択した行にセレクトクラスを付与する
                            const result = addSelectClassToRow(e.currentTarget);
                        } else {
                            // 選択済みの要素をクリックした時の処理
                            const clickedTd = e.target.closest("td");
                            // 取得したTDの処理
                        }
                    }
                    // ダブルクリック時の処理
                    newRow.ondblclick = function (e) { 
                        // チェックボックスの動作を停止させる
                        e.preventDefault();
                        // 選択済みの場合
                        if (!e.currentTarget.classList.contains('selected')){
                            // すべての行の選択状態を解除する
                            detachmentSelectClassToAllRow(tableId, false);
                            // 選択した行にセレクトクラスを付与する
                            const result = addSelectClassToRow(e.currentTarget);
                        }
                        
                        // フォーム入力画面を表示する
                        switch (tableId) {
                            case "table-01-content":
                                execEdit(item.employee_id, item.full_name, this);
                                break;
                            case "table-02-content":
                                execEdit(item.employee_id, item.full_name, this);
                                break;
                            default:
                                break;
                        }
                    }

                    switch (tableId) {
                        case "table-01-content":
                            createTableRow(newRow, item, "01");
                            break;
                        case "table-02-content":
                            createTableRow(newRow, item, "02");
                            break;
                        default:
                            break;
                    }

                });
            }

            // テーブル行を作成する
            function createTableRow(newRow, item, tab) {
                // 選択用チェックボックス
                newRow.insertAdjacentHTML('beforeend', '<td name="chk-cell" class="pc-style"><input class="normal-chk" name="chk-box" type="checkbox"></td>');
                // ID
                newRow.insertAdjacentHTML('beforeend', '<td name="id-cell" class="link-cell" onclick="execEdit(' + item.employee_id + ', \'' + item.full_name + '\', this)">' + String(item.employee_id).padStart(4, '0') + '</td>');
                // 名前
                newRow.insertAdjacentHTML('beforeend', '<td name="name-cell"><span class="kana">' + item.full_name_kana + '</span><br><span>' + item.full_name + '</span></td>');
                // 営業所名
                newRow.insertAdjacentHTML('beforeend', '<td name="office-cell"><span>' + (item.office_name ?? "登録なし") + '</span></td>');
                // データ
                newRow.insertAdjacentHTML('beforeend', '<td name="exist-cell" data-state="' + item.exist + '"><span>' + (item.exist == true ? "入力済み": "未入力") + '</span></td>');
            }

/******************************************************************************************************* 入力画面 */

            // 従業員登録画面を開く
            async function execEdit(id, name, self) {
                const panel = self.closest('.tab-panel');
                const tab = panel.dataset.panel;

                // スピナー表示
                startProcessing();

                // 入力フォームダイアログを開く
                openFormDialog("form-dialog-01");

                // フォーム画面を取得
                const form = document.getElementById('form-dialog-01');   

                // 選択されたIDのエンティティを取得
                const data = "id=" + encodeURIComponent(parseInt(id));
                const resultResponse = await postFetch('/working_conditions/get/id', data, token, 'application/x-www-form-urlencoded');
                const result = await resultResponse.json();

                let entity = {};
                if (result.working_conditions_id > 0) {
                    entity = structuredClone(result);
                } else {
                    entity = structuredClone(formEntity);
                    switch (tab) {
                        case "01":
                            entity.category = categoryEmployeeCode;
                            break;
                        case "02":
                            entity.category = categoryParttimeCode;
                            break;
                        default:
                            break;
                    }
                }

                const employeeName = document.getElementById('employee-name');
                employeeName.textContent = String(id).padStart(4, '0') + " : " + name;

                form.querySelector('[name="working-conditions-id"]').value = entity.working_conditions_id;
                form.querySelector('[name="employee-id"]').value = id;
                form.querySelector('[name="category"]').value = entity.category;

                form.querySelector('[name="base-salary"]').value = entity.base_salary;
                form.querySelector('[name="trans-cost"]').value = entity.trans_cost;
                form.querySelector('[name="basic-start-time"]').value = entity.basic_start_time;                
                form.querySelector('[name="basic-end-time"]').value = entity.basic_end_time;
                form.querySelector('[name="version"]').value = entity.version;

                // 支払い方法コンボボックス
                const paymentMethodArea = form.querySelector('select[name="payment-method"]');
                createComboBox(paymentMethodArea, paymentMethodComboList);
                setComboboxSelected(paymentMethodArea, entity.payment_method);
                // 給与形態コンボボックス
                const payTypeArea = form.querySelector('select[name="pay-type"]');
                createComboBox(payTypeArea, payTypeComboList);
                setComboboxSelected(payTypeArea, entity.pay_type);

                // スピナー消去
                processingEnd();
            }

/******************************************************************************************************* 保存 */

        // 保存処理
        async function execSave() {
            const form = document.getElementById('form-01');
            // エラーチェック
            if (formDataCheck(form) == false) {
                return;
            } else {
                const formData = new FormData(form);
                const formdata = structuredClone(formEntity);
                formdata.working_conditions_id = Number(formData.get('working-conditions-id'));
                formdata.employee_id = Number(formData.get('employee-id'));
                formdata.category = Number(formData.get('category'));
                formdata.payment_method = formData.get('payment-method');
                formdata.pay_type = formData.get('pay-type');
                if (formData.get('base-salary') == "") {
                    formdata.base_salary = 0;
                } else {
                    formdata.base_salary = formData.get('base-salary');
                }
                if (formData.get('trans-cost') == "") {
                    formdata.trans_cost = 0;
                } else {
                    formdata.trans_cost = formData.get('trans-cost');
                }
                const start = formData.get('basic-start-time');
                if (start == null || start == "") {
                    formdata.basic_start_time = "00:00";
                } else {
                    formdata.basic_start_time = start;
                }
                const end = formData.get('basic-end-time');
                if (end == null || end == "") {
                    formdata.basic_end_time = "00:00";
                } else {
                    formdata.basic_end_time = end;
                }
                formdata.version = formData.get('version');

                formdata.user_name = user.account == null ? "kyousei@kyouseibin.com": user.account;

                // 保存処理
                const result = await saveFormData(formdata, "/working_conditions/save");
                if (result > 0) {
                    let tableId;
                    switch (formdata.category) {
                        case categoryEmployeeCode:
                            tableId = "table-01-content";
                            break;
                        case categoryParttimeCode:
                            tableId = "table-02-content";
                            break;
                        default:
                            break;
                    }
                    // 画面更新
                    await execUpdate();
                    // 追加・変更行に移動
                    scrollIntoTableList(tableId, result);
                }
                // ダイアログを閉じる
                closeFormDialog('form-dialog-01');
            }
        }

        // 入力チェック
        function formDataCheck(area) {
            let msg = "";
            // 基本給が入力されていないとFalseを返す
            const salary = area.querySelector('input[name="base-salary"]');
            if (salary != null && salary.value == "") msg += '\n基本給または時給が入力されていません';
            // 交通費が入力されていないとFalseを返す
            const trans = area.querySelector('input[name="trans-cost"]');
            if (trans != null && trans.value == "") msg += '\n交通費が入力されていません';
            // 始業時間が入力されていないとFalseを返す
            const start = area.querySelector('input[name="phone-number"]');
            if (start != null && start.value == "") msg += '\n始業時間が入力されていません';
            // 終業時間が入力されていないとFalseを返す
            const end = area.querySelector('input[name="postal-code"]');
            if (end != null && end.value == "") msg += '\n終業時間が入力されていません';
            // エラーが一つ以上あればエラーメッセージダイアログを表示する
            if (msg != "") {
                openMsgDialog("msg-dialog", msg, "red");
                return false;
            }
            return true;
        }

/******************************************************************************************************* 削除 */

        async function execDelete(self) {
            const panel = self.closest('.tab-panel');
            const tab = panel.dataset.panel;
            let result;
            switch (tab) {
                case "01":
                    result = await deleteTablelsit('table-01-content', '/working_conditions/delete');
                    if (result == true) { execUpdate(); }
                    break;
                case "02":
                    result = await deleteTablelsit('table-02-content', '/working_conditions/delete');
                    if (result == true) { execUpdate(); }
                    break;
                default:
                    break;
            }
        }


/******************************************************************************************************* ダウンロード */

        async function execDownloadCsv(self) {
            const panel = self.closest('.tab-panel');
            const tab = panel.dataset.panel;
            let result;
            switch (tab) {
                case "01":
                    result = await downloadCsv('table-01-content', '/working_conditions/download/csv');
                    break;
                case "02":
                    result = await downloadCsv('table-02-content', '/working_conditions/download/csv');
                    break;
                default:
                    break;
            }
        }

/******************************************************************************************************* 画面更新 */

        async function execUpdate() {
            const resultResponse = await fetch('/working_conditions/get/list');
            origin = await resultResponse.json();

            // 画面更新
            const list01 = origin.filter(function(value) { return value.category == categoryEmployeeCode });
            updateTableDisplay("table-01-content", "footer-01", "search-box-01", list01);
            const list02 = origin.filter(function(value) { return value.category == categoryParttimeCode });
            updateTableDisplay("table-02-content", "footer-02", "search-box-02", list02);
        }

/******************************************************************************************************* 画面更新 */

        // テーブルリスト画面を更新する
        function updateTableDisplay(tableId, footerId, searchId, list) {
            // リスト作成
            // const tbl = document.getElementById(tableId);
            // if (tbl != null) {
                // フィルター処理
                const result = filterDisplay(searchId, list);
                // リスト画面を初期化
                deleteElements(tableId);
                // リスト作成
                createTableContent(tableId, result);
                // フッター作成
                createTableFooter(footerId, list);
                // チェックボタン押下時の処理を登録する
                registCheckButtonClicked(tableId);
                // テーブルのソートをリセットする
                resetSortable(tableId);
                // // スクロール時のページトップボタン処理を登録する
                // setPageTopButton(tableId);
                // テーブルにスクロールバーが表示されたときの処理を登録する
                document.querySelectorAll('.scroll-area').forEach(el => {
                    toggleScrollbar(el);
                });
              
            // }
        }

/******************************************************************************************************* 初期化時 */

            // ページ読み込み後の処理
            window.addEventListener("load", () => {
                // スピナー表示
                startProcessing();

                // 検索ボックス入力時の処理
                document.getElementById('search-box-01').addEventListener('search', function(e) {
                    const list = origin.filter(function(value) { return value.category == categoryEmployeeCode });
                    updateTableDisplay("table-01-content", "footer-01", "search-box-01", list);
                }, false);
                document.getElementById('search-box-02').addEventListener('search', function(e) {
                    const list = origin.filter(function(value) { return value.category == categoryParttimeCode });
                    updateTableDisplay("table-02-content", "footer-02", "search-box-02", list);
                }, false);

                // エンターフォーカス処理をイベントリスナーに登録する
                setEnterFocus("form-01");
  
                // 画面更新
                const list01 = origin.filter(function(value) { return value.category == categoryEmployeeCode });
                updateTableDisplay("table-01-content", "footer-01", "search-box-01", list01);
                // テーブルをソート可能にする
                makeSortable("table-01-content");
                // スクロール時のページトップボタン処理を登録する
                setPageTopButton("table-01-content");
                const list02 = origin.filter(function(value) { return value.category == categoryParttimeCode });
                updateTableDisplay("table-02-content", "footer-02", "search-box-02", list02);
                // テーブルをソート可能にする
                makeSortable("table-02-content");
                // スクロール時のページトップボタン処理を登録する
                setPageTopButton("table-02-content");

                // タブメニュー処理
                const tabMenus = document.querySelectorAll('.tab-menu-item');
                // イベント付加
                tabMenus.forEach((tabMenu) => {
                    tabMenu.addEventListener('click', tabSwitch);
                })

                // スピナー消去
                processingEnd();
            });
        </script>
    </div>

</body>