<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,viewport-fit=cover">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/manifest.json}" rel="manifest" crossorigin="use-credentials">
</head>

<body>
    <div th:replace="~{fragment/main::index-main-fragment(true)}"></div>
    <script>
        // if ('serviceWorker' in navigator) {
        //   navigator.serviceWorker.register('sw.js').then(reg => {
        //     console.log('サービスワーカーを登録しました', reg);
        //   }).catch(err => {
        //     console.log('登録失敗', err);
        //   });
        // }
    </script>
</body>

</html>