<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- 本体 -->
    <div class="normal-content" th:fragment="bodyFragment">
        <!-- ハンバーガー -->
        <div th:replace="~{fragments/sidebar :: sidebarFragment}"></div>
        <!-- サイドバー -->
        <div class="normal-sidebar" th:insert="~{__${sidebarFragmentName}__}"></div>
        <!-- ボディ -->
        <div class="normal-body">
            <div class="tab-area">
                <ul class="tab-menu">
                    <li class="tab-menu-item is-active" data-tab="01">施工</li>
                    <li class="tab-menu-item" data-tab="02">荷主</li>
                    <li class="tab-menu-item" data-tab="03">購買</li>
                    <li class="tab-menu-item" data-tab="04">サービス</li>
                    <li class="tab-menu-item" data-tab="05">支店登録</li>
                </ul>
                <div class="tab-panel is-show" data-panel="01">
                    <div class="table-area">
                        <!-- ヘッダー -->
                        <header th:replace="~{fragments/sales/client :: headerFragment('search-box-01')}"></header>
                        <!-- コンテンツ -->
                        <main th:replace="~{fragments/sales/client :: mainFragment('table-01', 'table-01-content')}"></main>
                        <!-- フッター -->
                        <footer id="footer-01" class="pc-style" th:insert="~{fragments/sales/client :: footerFragment()}"></footer>
                    </div>
                </div>
                <div class="tab-panel" data-panel="02">
                    <div class="table-area">
                        <!-- ヘッダー -->
                        <header th:replace="~{fragments/sales/client :: headerFragment('search-box-02')}"></header>
                        <!-- コンテンツ -->
                        <main th:replace="~{fragments/sales/client :: mainFragment('table-02', 'table-02-content')}"></main>
                        <!-- フッター -->
                        <footer id="footer-02" class="pc-style" th:insert="~{fragments/sales/client :: footerFragment()}"></footer>
                    </div>
                </div>
                <div class="tab-panel" data-panel="03">
                    <div class="table-area">
                        <!-- ヘッダー -->
                        <header th:replace="~{fragments/sales/client :: headerFragment('search-box-03')}"></header>
                        <!-- コンテンツ -->
                        <main th:replace="~{fragments/sales/client :: mainFragment('table-03', 'table-03-content')}"></main>
                        <!-- フッター -->
                        <footer id="footer-03" class="pc-style" th:insert="~{fragments/sales/client :: footerFragment()}"></footer>
                    </div>
                </div>
                <div class="tab-panel" data-panel="04">
                    <div class="table-area">
                        <!-- ヘッダー -->
                        <header th:replace="~{fragments/sales/client :: headerFragment('search-box-04')}"></header>
                        <!-- コンテンツ -->
                        <main th:replace="~{fragments/sales/client :: mainFragment('table-04', 'table-04-content')}"></main>
                        <!-- フッター -->
                        <footer id="footer-04" class="pc-style" th:insert="~{fragments/sales/client :: footerFragment()}"></footer>
                    </div>
                </div>
                <div class="tab-panel" data-panel="05">
                    <div class="table-area">
                        <!-- ヘッダー -->
                        <header th:replace="~{fragments/sales/client :: headerOfficeFragment('code-box-01', 'name-box-01')}"></header>
                        <!-- コンテンツ -->
                        <main th:replace="~{fragments/sales/client :: mainFragment('table-05', 'table-05-content')}"></main>
                        <!-- フッター -->
                        <footer id="footer-05" class="pc-style" th:insert="~{fragments/sales/client :: footerFragment()}"></footer>
                    </div>
                </div>
            </div>
        </div>
        <div id="form-dialog-area">
            <!-- フォーム画面をここに記入する -->
             <div id="form-dialog-01" class="form-dialog none">
                <div class="dialog-header"><span></span>
                    <div class="img-btn" onclick="closeFormDialog('form-dialog-01', event)"><img title="閉じる" src="/icons/close-s.png"></div>
                </div>
                <form id="form-01" class="dialog-content">
                    <input name="company-id" type="hidden" value="">
                    <input name="office-id" type="hidden" value="">
                    <input name="category" type="hidden" value="">
                    <input name="version" type="hidden" value="">
                    <div class="flex-area">
                        <div class="form-parts">
                            <label>名称</label>
                            <input tabindex="1" name="name" class="normal-input" type="text" value="" placeholder="会社名" onfocus="this.select();">
                        </div>
                    </div>
                    <div class="flex-area">
                        <div class="form-parts">
                            <label>かな</label>
                            <input tabindex="2" name="name-kana" class="normal-input" type="text" value="" placeholder="かいしゃめい" onfocus="this.select();">
                        </div>
                    </div>
                    <div class="flex-area">
                        <div class="form-parts">
                            <label>電話番号</label>
                            <input tabindex="3" name="tel-number" class="normal-input" type="text" inputmode="numeric" pattern="\\d{4}-\\d{4}-\\d{4}" value="" placeholder="01-2345-6789" onfocus="this.select();">
                        </div>
                        <div class="form-parts">
                            <label>FAX番号</label>
                            <input tabindex="4" name="fax-number" class="normal-input" type="text" inputmode="numeric" pattern="\\d{4}-\\d{4}-\\d{4}" value="" placeholder="01-2345-6789" onfocus="this.select();">
                        </div>
                    </div>
                    <div class="flex-area">
                        <div class="form-parts">
                            <label>郵便番号</label>
                            <input tabindex="5" id="postal-code" name="postal-code" class="normal-input" type="text" inputmode="numeric" pattern="\\d{3}-?\\d{4}" value="" placeholder="012-3456" onfocus="this.select();">
                            <img title="検索" src="/icons/search.png" onclick="getAddress('Enter', 'postal-code', 'full-address')">
                        </div>
                    </div>
                    <div class="flex-area">
                        <div class="form-parts">
                            <label>住所</label>
                            <input tabindex="6" id="full-address" name="full-address" class="normal-input" type="text" value="" placeholder="例）大阪府高槻市柱本5丁目7番10号" onfocus="this.select();">
                        </div>
                    </div>
                    <div class="flex-area">
                        <div class="form-parts">
                            <label>メールアドレス</label>
                            <input tabindex="7" name="email" class="normal-input" type="email" value="" placeholder="例）example@kyouseibin.com" onfocus="this.select();">
                        </div>
                    </div>                    <div class="flex-area">
                        <div class="form-parts">
                            <label>Webアドレス</label>
                            <input tabindex="8" name="web-address" class="normal-input" type="url" value="" placeholder="例）example@kyouseibin.com" onfocus="this.select();">
                        </div>
                    </div>
                </form>
                <div class="dialog-footer">
                    <button class="normal-btn frameless" type="button" onclick="closeFormDialog('form-dialog-01', event)"><span>キャンセル</span></button>
                    <button tabindex="9" class="normal-btn ok" type="button" onclick="execSave()"><span>保存</span></button>
                </div>
            </div>
        </div>
        <div id="msg-dialog-area">
            <div th:replace="~{fragments/dialog :: messageFragment}"></div>
        </div>
        <script th:src="@{/js/table.js}"></script>
        <script th:src="@{/js/info.js}"></script>
        <script th:src="@{/js/file.js}"></script>
        <script th:src="@{/js/enterfocus.js}"></script>
        <script type="text/JavaScript" th:inline="JavaScript">
            const token = /*[[${_csrf.token}]]*/;
            const user = /*[[${user}]]*/;
            const companyEntity = /*[[${companyEntity}]]*/;
            const officeEntity = /*[[${officeEntity}]]*/;
            const categoryPartnerCode = /*[[${categoryPartnerCode}]]*/;
            const categoryShipperCode = /*[[${categoryShipperCode}]]*/;
            const categorySupplierCode = /*[[${categorySupplierCode}]]*/;
            const categoryServiceCode = /*[[${categoryServiceCode}]]*/;
            let companyOrigin = /*[[${companyOrigin}]]*/; // 初期リスト記憶用
            let officeOrigin = /*[[${officeOrigin}]]*/; // 初期リスト記憶用
            let companyComboList = /*[[${companyComboList}]]*/;

/******************************************************************************************************* 入力画面 */

            // リスト画面の本体部分を作成する
            function createTableContent(tableId, list) {
                const tbl = document.getElementById(tableId);
                const panel = tbl.closest('.tab-panel');
                const tab = panel.dataset.panel;

                list.forEach(function (item) {
                    let newRow = tbl.insertRow();
                    // ID（Post送信用）
                    newRow.setAttribute('name', 'data-row');
                    switch (tab) {
                        case "05":
                            newRow.setAttribute('data-id', item.office_id);
                            break;
                        default:
                            newRow.setAttribute('data-id', item.company_id);
                            break;
                    }
                    // シングルクリック時の処理
                    newRow.onclick = function (e) {
                        if (!e.currentTarget.classList.contains('selected')){
                            // すべての行の選択状態を解除する
                            detachmentSelectClassToAllRow(tbl, false);
                            // 選択した行にセレクトクラスを付与する
                            const result = addSelectClassToRow(e.currentTarget);
                        } else {
                            // 選択済みの要素をクリックした時の処理
                            const clickedTd = e.target.closest("td");
                            // 取得したTDの処理
                        }
                    }
                    // ダブルクリック時の処理
                    newRow.ondblclick = function (e) { 
                        // チェックボックスの動作を停止させる
                        e.preventDefault();
                        // 選択済みの場合
                        if (!e.currentTarget.classList.contains('selected')){
                            // すべての行の選択状態を解除する
                            detachmentSelectClassToAllRow(tableId, false);
                            // 選択した行にセレクトクラスを付与する
                            const result = addSelectClassToRow(e.currentTarget);
                        }
                        
                        // フォーム入力画面を表示する
                        switch (tab) {
                            case "05":
                                execEdit(item.office_id, this);
                                break;
                            default:
                                execEdit(item.company_id, this);
                                break;
                        }
                        // switch (tableId) {
                        //     case "table-01-content":
                        //         execEdit(item.company_id, this);
                        //         break;
                        //     case "table-02-content":
                        //         execEdit(item.company_id, this);
                        //         break;
                        //     case "table-03-content":
                        //         execEdit(item.company_id, this);
                        //         break;
                        //     case "table-04-content":
                        //         execEdit(item.company_id, this);
                        //         break;
                        //     case "table-05-content":
                        //         execEdit(item.office_id, this);
                        //         break;
                        //     default:
                        //         break;
                        // }
                    }
                    createTableRow(newRow, item, tab);
                    // switch (tab) {
                    //     case "05":
                    //         createTableRowByOffice(newRow, item, tab);
                    //         break;
                    //     default:
                    //         createTableRowByCompany(newRow, item, tab);
                    //         break;
                    // }
                    // switch (tableId) {
                    //     case "table-01-content":
                    //         createTableRowByCompany(newRow, item, "01");
                    //         break;
                    //     case "table-02-content":
                    //         createTableRowByCompany(newRow, item, "02");
                    //         break;
                    //     case "table-03-content":
                    //         createTableRowByCompany(newRow, item, "03");
                    //         break;
                    //     case "table-04-content":
                    //         createTableRowByCompany(newRow, item, "04");
                    //         break;
                    //     case "table-05-content":
                    //         createTableRowByOffice(newRow, item, "05");
                    //         break;
                    //     default:
                    //         break;
                    // }

                });
            }

            // テーブル行を作成する
            function createTableRow(newRow, item, tab) {
                // 選択用チェックボックス
                newRow.insertAdjacentHTML('beforeend', '<td name="chk-cell" class="pc-style"><input class="normal-chk" name="chk-box" type="checkbox"></td>');
                // ID
                switch (tab) {
                    case "05":
                        newRow.insertAdjacentHTML('beforeend', '<td name="id-cell" class="link-cell" data-tab="' + tab + '" onclick="execEdit(' + item.office_id + ', this)">' + String(item.office_id).padStart(4, '0') + '</td>');
                        break;
                    default:
                        newRow.insertAdjacentHTML('beforeend', '<td name="id-cell" class="link-cell" data-tab="' + tab + '" onclick="execEdit(' + item.company_id + ', this)">' + String(item.company_id).padStart(4, '0') + '</td>');
                        break;
                }
                // newRow.insertAdjacentHTML('beforeend', '<td name="id-cell" class="link-cell" data-tab="' + tab + '" onclick="execEdit(' + item.company_id + ', this)">' + String(item.company_id).padStart(4, '0') + '</td>');
                // 名前
                newRow.insertAdjacentHTML('beforeend', '<td name="name-cell"><span class="kana">' + item.name_kana + '</span><br><span>' + item.name + '</span></td>');
                // 電話番号
                newRow.insertAdjacentHTML('beforeend', '<td name="tel-cell"><span>' + (item.tel_number ?? "登録なし") + '</span></td>');
                // メールアドレス
                newRow.insertAdjacentHTML('beforeend', '<td name="email-cell"><span>' + (item.email ?? "登録なし") + '</span></td>');
            }

            // // テーブル行を作成する
            // function createTableRowByOffice(newRow, item, tab) {
            //     // 選択用チェックボックス
            //     newRow.insertAdjacentHTML('beforeend', '<td name="chk-cell" class="pc-style"><input class="normal-chk" name="chk-box" type="checkbox"></td>');
            //     // ID
            //     newRow.insertAdjacentHTML('beforeend', '<td name="id-cell" class="link-cell" data-tab="' + tab + '" onclick="execEdit(' + item.office_id + ', this)">' + String(item.office_id).padStart(4, '0') + '</td>');
            //     // 名前
            //     newRow.insertAdjacentHTML('beforeend', '<td name="name-cell"><span class="kana">' + item.name_kana + '</span><br><span>' + item.name + '</span></td>');
            //     // 電話番号
            //     newRow.insertAdjacentHTML('beforeend', '<td name="tel-cell"><span>' + (item.tel_number ?? "登録なし") + '</span></td>');
            //     // メールアドレス
            //     newRow.insertAdjacentHTML('beforeend', '<td name="email-cell"><span>' + (item.email ?? "登録なし") + '</span></td>');
            // }

/******************************************************************************************************* 入力画面 */

            // 取引先登録画面を開く
            async function execEdit(id, self) {
                const panel = self.closest('.tab-panel');
                const tab = panel.dataset.panel;

                // 入力フォームダイアログを開く
                openFormDialog("form-dialog-01");

                // フォーム画面を取得
                const form = document.getElementById('form-dialog-01');              

                let entity = {};
                if (id > 0) {
                    // 選択されたIDのエンティティを取得
                    const data = "id=" + encodeURIComponent(parseInt(id));
                    let url;
                    switch (tab) {
                        case "05":
                            url = "/company/office/get/id";
                            break;
                        default:
                            url = "/company/get/id";
                            break;
                    }

                    // スピナー表示
                    startProcessing();

                    const resultResponse = await postFetch(url, data, token, 'application/x-www-form-urlencoded');
                    const result = await resultResponse.json();

                    // スピナー消去
                    processingEnd();

                    switch (tab) {
                        case "05":
                            if (result.office_id == 0) {
                                openMsgDialog("msg-dialog", "データがありません", "red");
                                return;
                            }
                            break;
                        default:
                            if (result.company_id == 0) {
                                openMsgDialog("msg-dialog", "データがありません", "red");
                                return;
                            }
                            break;
                    }

                    entity = structuredClone(result);
                } else {
                    switch (tab) {
                        case "01":
                            entity = structuredClone(companyEntity);
                            entity.category = categoryPartnerCode;
                            break;
                        case "02":
                            entity = structuredClone(companyEntity);
                            entity.category = categoryShipperCode;
                            break;
                        case "03":
                            entity = structuredClone(companyEntity);
                            entity.category = categorySupplierCode;
                            break;
                        case "04":
                            entity = structuredClone(companyEntity);
                            entity.category = categoryServiceCode;
                            break;
                        case "05":
                            entity = structuredClone(officeEntity);
                            const id = document.getElementById('code-box-01');
                            if (id.value == "") {
                                // ダイアログを閉じる
                                closeFormDialog('form-dialog-01');
                                return;
                            }
                            entity.company_id = id.value;
                            break;
                        default:
                            break;
                    }
                }

                form.querySelector('[name="company-id"]').value = entity.company_id;
                switch (tab) {
                    case "05":
                        form.querySelector('[name="office-id"]').value = entity.office_id;
                        break;
                    default:
                        form.querySelector('[name="category"]').value = entity.category;
                        break;
                }
                form.querySelector('[name="name"]').value = entity.name;
                form.querySelector('[name="name-kana"]').value = entity.name_kana;
                form.querySelector('[name="tel-number"]').value = entity.tel_number;
                form.querySelector('[name="fax-number"]').value = entity.fax_number;
                form.querySelector('[name="postal-code"]').value = entity.postal_code;
                form.querySelector('[name="full-address"]').value = entity.full_address;
                form.querySelector('[name="email"]').value = entity.email;
                form.querySelector('[name="web-address"]').value = entity.web_address;
                form.querySelector('[name="version"]').value = entity.version;
            }

/******************************************************************************************************* 保存 */

            // 保存処理
            async function execSave() {
                const form = document.getElementById('form-01');
                // エラーチェック
                if (formDataCheck(form) == false) {
                    return;
                } else {
                    const panel = document.querySelector('.is-active');
                    const tab = panel.dataset.tab;
                    const formData = new FormData(form);
                    let formdata;
                    let url;
                    switch (tab) {
                        case "05":
                            formdata = structuredClone(officeEntity);
                            formdata.office_id = Number(formData.get('office-id'));
                            url = "/office/save";
                            break;
                        default:
                            formdata = structuredClone(companyEntity);
                            formdata.category = Number(formData.get('category'));
                            url = "/company/save";
                            break;
                    } 
                    formdata.company_id = formData.get('company-id');
                    formdata.name = formData.get('name').trim();
                    formdata.name_kana = formData.get('name-kana').trim();
                    formdata.tel_number = formData.get('tel-number').trim();
                    formdata.fax_number = formData.get('fax-number').trim();
                    formdata.postal_code = formData.get('postal-code').trim();
                    formdata.full_address = formData.get('full-address').trim();
                    formdata.email = formData.get('email').trim();
                    formdata.web_address = formData.get('web-address');
                    formdata.version = formData.get('version');

                    formdata.user_name = user.account == null ? "kyousei@kyouseibin.com": user.account;

                    // 保存処理
                    const result = await saveFormData(formdata, url);
                    if (result > 0) {
                        // let tableId;
                        // switch (tab) {
                        //     case "01":
                        //         tableId = "table-01-content";
                        //         break;
                        //     case "02":
                        //         tableId = "table-02-content";
                        //         break;
                        //     case "03":
                        //         tableId = "table-03-content";
                        //         break;
                        //     case "04":
                        //         tableId = "table-04-content";
                        //         break;
                        //     case "05":
                        //         tableId = "table-05-content";
                        //         break;
                        //     default:
                        //         break;
                        // }
                        const tableId = "table-" + tab + "-content";
                        // 画面更新
                        await execUpdate();
                        // 追加・変更行に移動
                        scrollIntoTableList(tableId, result);
                    }
                    // ダイアログを閉じる
                    closeFormDialog('form-dialog-01');
                }
            }

            // 入力チェック
            function formDataCheck(area) {
                let msg = "";
                // 名前が入力されていないとFalseを返す
                const name = area.querySelector('input[name="name"]');
                if (name != null && name.value == "") msg += '\n名称が入力されていません';
                // 電話番号チェック
                const tel = area.querySelector('input[name="tel-number"]');
                if (!checkPhoneNumber(tel)) msg += '\n電話番号に誤りがあります';
                // ファックス番号チェック
                const fax = area.querySelector('input[name="fax-number"]');
                if (!checkPhoneNumber(fax)) msg += '\nFAX番号に誤りがあります';
                // 郵便番号チェック
                const postal = area.querySelector('input[name="postal-code"]');
                if (!checkPostalCode(postal)) msg += '\n郵便番号に誤りがあります';
                // メールアドレスチェック
                const email = area.querySelector('input[name="email"]');
                if (!checkMailAddress(email)) msg += '\nメールアドレスに誤りがあります';
                // メールアドレスチェック
                const web = area.querySelector('input[name="web-address"]');
                if (!checkWebAddress(web)) msg += '\nWEBアドレスに誤りがあります';
                // エラーが一つ以上あればエラーメッセージダイアログを表示する
                if (msg != "") {
                    openMsgDialog("msg-dialog", msg, "red");
                    return false;
                }
                return true;
            }

    /******************************************************************************************************* 削除 */

            async function execDelete(self) {
                const panel = self.closest('.tab-panel');
                const tab = panel.dataset.panel;
                let result;
                switch (tab) {
                    // case "01":
                    //     result = await deleteTablelist('table-01-content', '/company/delete');
                    //     if (result == true) { execUpdate(); }
                    //     break;
                    // case "02":
                    //     result = await deleteTablelist('table-02-content', '/company/delete');
                    //     if (result == true) { execUpdate(); }
                    //     break;
                    // case "03":
                    //     result = await deleteTablelist('table-03-content', '/company/delete');
                    //     if (result == true) { execUpdate(); }
                    //     break;
                    // case "04":
                    //     result = await deleteTablelist('table-04-content', '/company/delete');
                    //     if (result == true) { execUpdate(); }
                    //     break;
                    case "05":
                        result = await deleteTablelist('table-05-content', '/office/delete');
                        if (result == true) { execUpdate(); }
                        break;
                    default:
                        result = await deleteTablelist('table-' + tab + '-content', '/company/delete');
                        if (result == true) { execUpdate(); }
                        break;
                }
            }


    /******************************************************************************************************* ダウンロード */

            async function execDownloadCsv(self) {
                const panel = self.closest('.tab-panel');
                const tab = panel.dataset.panel;
                let result;
                switch (tab) {
                    // case "01":
                    //     result = await downloadCsv('table-01-content', '/company/download/csv');
                    //     break;
                    // case "02":
                    //     result = await downloadCsv('table-02-content', '/company/download/csv');
                    //     break;
                    // case "03":
                    //     result = await downloadCsv('table-03-content', '/company/download/csv');
                    //     break;
                    // case "04":
                    //     result = await downloadCsv('table-04-content', '/company/download/csv');
                    //     break;
                    case "05":
                        result = await downloadCsv('table-' + tab + '-content', '/office/download/csv');
                        break;
                    default:
                        result = await downloadCsv('table-' + tab + '-content', '/company/download/csv');
                        break;
                }
            }

    /******************************************************************************************************* 画面更新 */

            async function execUpdate() {
                startProcessing();

                let resultResponse = await fetch('/client/get/list');
                companyOrigin = await resultResponse.json();

                // 画面更新
                const list01 = companyOrigin.filter(function(value) { return value.category == categoryPartnerCode });
                updateTableDisplay("table-01-content", "footer-01", "search-box-01", list01);

                const list02 = companyOrigin.filter(function(value) { return value.category == categoryShipperCode });
                updateTableDisplay("table-02-content", "footer-02", "search-box-02", list02);

                const list03 = companyOrigin.filter(function(value) { return value.category == categorySupplierCode });
                updateTableDisplay("table-03-content", "footer-03", "search-box-03", list03);

                const list04 = companyOrigin.filter(function(value) { return value.category == categoryServiceCode });
                updateTableDisplay("table-04-content", "footer-04", "search-box-04", list04);
                
                resultResponse = await fetch('/client/get/combo');
                companyComboList = await resultResponse.json();
                const companyArea = document.getElementById('name-box-01');
                createComboBoxWithTop(companyArea, companyComboList, '');

                updateOfficeTableDisplay();

                processingEnd();
            }

    /******************************************************************************************************* 画面更新 */

            // テーブルリスト画面を更新する
            function updateTableDisplay(tableId, footerId, searchId, list) {
                // フィルター処理
                result = filterDisplay(searchId, list);
                createDisplay(tableId, footerId, result);
            }

            // テーブルリスト画面をクリアする
            function initialTableDisplay(tableId, footerId) {
                // フィルター処理
                const result = [];
                createDisplay(tableId, footerId, result);
            }

            // テーブル画面作成の共通処理部分
            function createDisplay(tableId, footerId, list) {
                // リスト画面を初期化
                deleteElements(tableId);
                // リスト作成
                createTableContent(tableId, list);
                // フッター作成
                createTableFooter(footerId, list);
                // チェックボタン押下時の処理を登録する
                registCheckButtonClicked(tableId);
                // テーブルのソートをリセットする
                resetSortable(tableId);
                // テーブルにスクロールバーが表示されたときの処理を登録する
                document.querySelectorAll('.scroll-area').forEach(el => {
                    toggleScrollbar(el);
                });
            }

            async function updateOfficeTableDisplay() {
                const code = document.getElementById('code-box-01');
                const name = document.getElementById('name-box-01'); // 会社選択セレクトボックス
                code.value = name.value == 0 ? "": name.value;
                const resultResponse = await fetch('/client/office/get/list');
                const result = await resultResponse.json();
                const list = officeOrigin.filter(function(value) { return value.company_id == code.value });
                createDisplay("table-05-content", "footer-05", list);
            }

/******************************************************************************************************* 初期化時 */

            // ページ読み込み後の処理
            window.addEventListener("load", () => {
                // スピナー表示
                startProcessing();

                // 検索ボックス入力時の処理
                document.getElementById('search-box-01').addEventListener('search', function(e) {
                    const list = companyOrigin.filter(function(value) { return value.category == categoryPartnerCode });
                    updateTableDisplay("table-01-content", "footer-01", "search-box-01", list);
                }, false);
                document.getElementById('search-box-02').addEventListener('search', function(e) {
                    const list = companyOrigin.filter(function(value) { return value.category == categoryShipperCode });
                    updateTableDisplay("table-02-content", "footer-02", "search-box-02", list);
                }, false);
                document.getElementById('search-box-03').addEventListener('search', function(e) {
                    const list = companyOrigin.filter(function(value) { return value.category == categorySupplierCode });
                    updateTableDisplay("table-03-content", "footer-03", "search-box-03", list);
                }, false);
                document.getElementById('search-box-04').addEventListener('search', function(e) {
                    const list = companyOrigin.filter(function(value) { return value.category == categoryServiceCode });
                    updateTableDisplay("table-04-content", "footer-04", "search-box-04", list);
                }, false);

                // 郵便番号入力ボックスでエンターキーが押された時の処理を登録
                document.getElementById('postal-code').addEventListener('keydown', function (e) {
                    getAddress(e, 'postal-code', 'full-address');                                                                                                                                                                                                                                                                                                                                                       ;
                });

                // エンターフォーカス処理をイベントリスナーに登録する
                setEnterFocus("form-01");

                // 画面更新
                const list01 = companyOrigin.filter(function(value) { return value.category == categoryPartnerCode });
                updateTableDisplay("table-01-content", "footer-01", "search-box-01", list01);
                // テーブルをソート可能にする
                makeSortable("table-01-content");
                // スクロール時のページトップボタン処理を登録する
                setPageTopButton("table-01-content");

                const list02 = companyOrigin.filter(function(value) { return value.category == categoryShipperCode });
                updateTableDisplay("table-02-content", "footer-02", "search-box-02", list02);
                // テーブルをソート可能にする
                makeSortable("table-02-content");
                // スクロール時のページトップボタン処理を登録する
                setPageTopButton("table-02-content");

                const list03 = companyOrigin.filter(function(value) { return value.category == categorySupplierCode });
                updateTableDisplay("table-03-content", "footer-03", "search-box-03", list03);
                // テーブルをソート可能にする
                makeSortable("table-03-content");
                // スクロール時のページトップボタン処理を登録する
                setPageTopButton("table-03-content");

                const list04 = companyOrigin.filter(function(value) { return value.category == categoryServiceCode });
                updateTableDisplay("table-04-content", "footer-04", "search-box-04", list04);
                // テーブルをソート可能にする
                makeSortable("table-04-content");
                // スクロール時のページトップボタン処理を登録する
                setPageTopButton("table-04-content");

                initialTableDisplay("table-05-content", "footer-05");

                // 会社IDボックス
                document.getElementById('code-box-01').addEventListener('keydown', function (e) {
                    if ((e && e.key === "Enter") || e === "Enter") {
                        const companyArea = document.getElementById('name-box-01');
                        setComboboxSelected(companyArea, this.value);
                        companyArea.focus();
                    }
                });
                document.getElementById('code-box-01').addEventListener('blur', function (e) {
                    updateOfficeTableDisplay();
                });

                // 会社名コンボボックス
                const companyArea = document.getElementById('name-box-01');
                createComboBoxWithTop(companyArea, companyComboList, '');
                companyArea.onchange = async function() {
                    updateOfficeTableDisplay();
                };

                // タブメニュー処理
                const tabMenus = document.querySelectorAll('.tab-menu-item');
                // イベント付加
                tabMenus.forEach((tabMenu) => {
                    tabMenu.addEventListener('click', tabSwitch);
                })

                // スピナー消去
                processingEnd();
            });
        </script>
    </div>

</body>