<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="timeworks-screen">
        <!-- パンくずリスト -->
        <div class="timeworks-header">
            <div layout:replace="~{fragment/breadcrumbFragment::title(${breadcrumbs})}"></div>
        </div>

        <div class="timeworks-container time-works">
            <div class="clock ct2">
                <div>
                    <span class="clock-date">0000年00月00日（日）</span>
                </div>
                <div>
                    <span class="clock-time">00:00:00</span>
                </div>
            </div>
            
            <input id="employee-id" type="hidden" th:value="${employee_id}">
            <input id="category-id" type="hidden" th:value="${category_id}">
            <input id="timeworks-id" type="hidden">

            <!-- PC画面用勤怠ボタン -->
            <div class="timeworks-content ct2 pc-style">
                <label class="ct1 cp2">コード</label>
                <label class="ct3 cp4">従業員名</label>
                <input autofocus id="code" class="normal-input ct1 cp2" type="search" inputmode="numeric" pattern="\d*" value="" onfocus="this.select();">
                <input id="name" class="normal-input ct3 cp4" type="text" disabled>
                <button name="start-btn" class="large-btn ct1 cp3" type="button" onclick="execTimeWorks('start', 'pc')"><span>出勤</span></button>
                <button name="end-btn" class="large-btn ct4 cp3" type="button" onclick="execTimeWorks('end', 'pc')"><span>退勤</span></button>
            </div>

            <!-- スマホ画面用勤怠ボタン -->
            <div class="timeworks-content ct1 sp-style">
                <button name="start-btn" class="large-btn ct1 cp3" type="button" onclick="execTimeWorks('start', 'sp')"><span>出勤</span></button>
                <button name="end-btn" class="large-btn ct4 cp3" type="button" onclick="execTimeWorks('end', 'sp')"><span>退勤</span></button>
            </div>

            <!-- リスト -->
            <div class="ct3 rp2 pc-style">
                <table id="table-area" class="simple-table timeworks">
                    <tbody>
                        <tr class="simple-table-header">
                            <th>氏名</th>
                            <th>出勤</th>
                            <th>退勤</th>
                            <th>営業所</th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="loading">
                <div class="spinner"></div>
            </div>
        </div>
    </div>
</body>

</html>