<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,viewport-fit=cover">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/timeworks.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <div th:replace="~{fragment/main::main-fragment-nosidebar}"></div>

    <script th:src="@{/js/default.js}"></script>
    <script th:src="@{/js/tablelist.js}"></script>
    <script th:src="@{/js/getinfo.js}"></script>
    <script th:src="@{/js/dialog.js}"></script>
    <script type="text/JavaScript" th:inline="JavaScript">
        const token = /*[[${_csrf.token}]]*/;
        let list = [];
        let entity = /*[[${entity}]]*/;

// -------------------------------------------------------------------------------------------------------------------------------------- 時計作成
        function clock() {
            // 現在の日時・時刻の情報を取得
            const d = new Date();    
            // 年を取得
            let year = d.getFullYear();
            // 月を取得
            let month = d.getMonth() + 1;
            // 日を取得
            let date = d.getDate();
            // 曜日を取得
            let dayNum = d.getDay();
            const weekday = ["(日)", "(月)", "(火)", "(水)", "(木)", "(金)", "(土)"];
            let day = weekday[dayNum];
            // 時を取得
            let hour = d.getHours();
            // 分を取得
            let min = d.getMinutes();
            // 秒を取得
            let sec = d.getSeconds();

            // 1桁の場合は0を足して2桁に
            month = month < 10 ? "0" + month : month;
            date = date < 10 ? "0" + date : date;
            hour = hour < 10 ? "0" + hour : hour;
            min = min < 10 ? "0" + min : min;
            sec = sec < 10 ? "0" + sec : sec;

            // 日付・時刻の文字列を作成
            let today = `${year}年${month}月${date}日 ${day}`;
            let time = `${hour}:${min}:${sec}`;

            // 文字列を出力
            document.querySelector(".clock-date").innerText = today;
            document.querySelector(".clock-time").innerText = time;
        };

// -------------------------------------------------------------------------------------------------------------------------------------- 更新処理
        async function execTimeWorks(timeCategory, pcsp) {
            // const spinner = document.querySelector('#loading.loaded');
            // if(spinner != null){
            //     spinner.classList.remove('loaded');
            // }
            startProcessing();

            await setTimeworks(timeCategory, pcsp);
            afterButtonPushed(pcsp);

            // // 処理が終了したらスピナーを消去する
            // if(spinner != null){
            //     spinner.classList.add('loaded');
            // }

            processingEnd();
        }

        // ボタン押下時、PCの時は画面をリセット、スマホの時はホームに戻る
        function afterButtonPushed(pcsp) {
            if (pcsp == "pc") {
                const code = document.getElementById('code');
                code.focus();
                code.value = "";
                const name = document.getElementById('name');
                name.value = "";
            } else if (pcsp == "sp") {
                moveLinkPage('/')
            }
        }

        async function setTimeworks(timeCategory, pcsp) {
            const name = document.getElementById('name');
            if (pcsp == "pc" && name != null) {
                if (name.value == "") return;
            }
            
            const empId = document.getElementById('employee-id');
            const catId = document.getElementById('category-id');
            const timeworksId = document.getElementById('timeworks-id');

            if (empId != null && catId != null && timeworksId != null) {
                entity.employee_id = empId.value;
                entity.category_id = catId.value;
                entity.timeworks_id = timeworksId.value;                
                if (pcsp == "sp") {
                    const data = "id=" + encodeURIComponent(empId.value);
                    const url = '/timeworks/get/today/id';
                    const contentType = 'application/x-www-form-urlencoded';
                    // [timeworks]を取得
                    const result = await postFetch(url, data, token, contentType);
                    const ent = await result.json();
                    if (ent != null) {
                        entity = ent;
                    }
                }

                const position = await getLoacation();
                if (timeCategory == "start") {
                    entity.start_latitude = position.coords.latitude;
                    entity.start_longitude = position.coords.longitude;
                } else if (timeCategory == "end") {
                    entity.end_latitude = position.coords.latitude;
                    entity.end_longitude = position.coords.longitude;
                }
                entity.time_category = timeCategory;
                const data = JSON.stringify(entity);
                const url = '/timeworks/regist/today';
                const contentType = 'application/json';
                const result = await postFetch(url, data, token, contentType);
                await updateDisplay();
            }
        }

        async function updateDisplay() {
            startProcessing();

            clearTableListByName('[name="data-row"]');

            // リストデータ取得
            const getResponse = await fetch('/timeworks/get/today');
            list = await getResponse.json();
            createTable();

            processingEnd();
        }

        // コードから[timeworks]を取得して、名前を表示
        async function searchForNameByCode(e, isReset) {
            e.preventDefault();
            // ✖️ボタン(isReset=true)が押されたら入力されているテキストを消去する
            if (isReset) {
                setItems();
                return; 
            }

            // [id=code]に入力されたコードから[timeworks]を取得して[id=name]に入力する
            const data = "code=" + encodeURIComponent(code.value);
            const url = '/timeworks/get/today/code';
            const contentType = 'application/x-www-form-urlencoded';
            // [timeworks]を取得
            const result = await postFetch(url, data, token, contentType);
            const ent = await result.json();
            if (ent != null && ent.employee_id > 0) {
                setItems(ent);
                return;
            } else {
                const msg = "コードが登録されていません"
                const title = 'エラー';
                const headerColor = 'red';
                createMessageDialog(msg, title, headerColor);
                setItems();
                return;
            }
        }

        // リセットの場合は引数を[null]にする
        function setItems(ent) {
            const code = document.getElementById('code');
            const name = document.getElementById('name');
            const empid = document.getElementById('employee-id');
            const catid = document.getElementById('category-id');
            const timeworksid = document.getElementById('timeworks-id');
            if (code == null || name == null || empid == null || catid == null || timeworksid == null) { return; }

            if (ent == null) {
                empid.value = /*[[${employee_id}]]*/;
                catid.value = /*[[${category_id}]]*/;
                timeworksid.value = "";
                code.value = "";
                name.value = "";
            } else {
                entity = ent;
                empid.value = ent.employee_id;
                catid.value = ent.category_id;
                timeworksid.value = ent.timeworks_id;
                name.value = ent.full_name;0
                checkTimeWorksStartSaved(ent.employee_id);
            }
            return;
        }

// -------------------------------------------------------------------------------------------------------------------------------------- 出勤退勤確認
        function checkTimeWorksStartSaved() {
            if (entity != null) {
                if (entity.start_time != null) {
                    const endBtn = document.querySelector('[name="end-btn"]');
                    endBtn.focus();
                } else {
                    const startBtn = document.querySelector('[name="start-btn"]');
                    startBtn.focus();
                }
            }
        }

// -------------------------------------------------------------------------------------------------------------------------------------- リスト画面作成
        function createTable() {
            const tbl = document.getElementById('table-area');
            if (tbl != null) {
                list.forEach(function(item){
                    // 隠しID（Post送信用）
                    let newRow = tbl.insertRow();
                    newRow.setAttribute('name', 'data-row');
                    // 氏名
                    let nameCell = newRow.insertCell();
                    nameCell.innerHTML = '<span>' + item.full_name + '</span>';
                    // 出勤時刻
                    let startCell = newRow.insertCell();
                    if (item.start_time == ''){
                        startCell.innerHTML += '<span></span>';
                    } else {
                        startCell.innerHTML += '<span>' + (item.comp_start_time ?? "") + '</span>';
                    }
                    // 退勤時刻
                    let endCell = newRow.insertCell();
                    if (item.end_time == ''){
                        endCell.innerHTML += '<span></span>';
                    } else {
                        endCell.innerHTML += '<span>' + (item.comp_end_time ?? "") + '</span>';
                    }
                    // 営業所
                    let officeCell = newRow.insertCell();
                    if (item.office_name == ''){
                        officeCell.innerHTML += '<span>登録なし</span>';
                    } else {
                        officeCell.innerHTML += '<span>' + (item.office_name ?? "") + '</span>';
                    }                    
                });
            }
        };

// -------------------------------------------------------------------------------------------------------------------------------------- 初期化時の処理
        window.addEventListener("load", async () => {
            // 1秒ごとにclock関数を呼び出す
            setInterval(clock, 1000);

            document.getElementById('code').addEventListener('search', async function(e) {
                let isReset = false;
                if ( this.value.length === 0 ) { isReset = true; }
                await searchForNameByCode(e, isReset);
            }, false);

            await updateDisplay();
        });

    </script>

</body>

</html>