@charset "UTF-8";

:root {

    --theme-blue: darkblue;
    --theme-orange: orange;

    --red: red;
    --white: white;
    --black: black;
    --yellow: rgb(220, 200, 20);
    --skyblue: lightskyblue;

    --bg: white;
    --br: darkgrey;

    --btn-br: lightgrey;
    --btn-bg: white;
    --btn-hover: lightgrey;

    --okbtn-bg: rgb(20, 100, 255);
    --okbtn-hover: rgb(110, 175, 255);

    --chk-bg: blue;
    
    --dialog-bg: white;
    
    --row-selected: lightblue;

    --sidebar-bg: white;

    --hover-bg: rgb(183, 205, 245);

    --shadow: grey;
    --line: lightgrey;
}