@charset "UTF-8";

/******************************************************************************************************* PC表示のみ */

@media screen and (min-width:561px) {
    .hamburger-btn-open {
        display: none;
    }

    .hamburger-btn-close {
        display: none;
    }
}

/******************************************************************************************************* スマホ表示のみ */

@media screen and (max-width:560px) {

    .hamburger-btn-open,
    .hamburger-btn-close {
        position: absolute;
        height: 3rem;
        width: 3rem;
        border: 0;
        background-color: transparent;
    }

    .hamburger-btn-open {
        top: .6rem;
        left: 1rem;
    }

    .hamburger-btn-close {
        top: 1.5rem;
        right: .8rem;
    }

    .hamburger-btn-open:hover {
        filter: brightness(.5) invert(.5);
    }

    .hamburger-btn-close:hover {
        filter: brightness(.5) invert(.5);
    }

    .hamburger-btn-open img {
        height: 2rem;
        width: 2rem;
    }

    .hamburger-btn-close img {
        height: 1rem;
        width: 1rem;
    }

    .hamburger-btn-open img {
        filter: brightness(0) invert(1);
    }

    .normal-content.sidebar-none .hamburger-btn-open {
        display: none;
    }

    .normal-content.hamburger-close>.normal-sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        transition: .4s;
        z-index: 200;
    }

    .normal-content.hamburger-open>.normal-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        transition: .4s;
        z-index: 200;
    }
}