@charset "UTF-8";

:root {
    font-size: 14px;
    --cursor: pointer;
}

input::placeholder {
    color: lightgray;
}

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

*.none {
    display: none;
}

*.none * {
    display: none;
}

.scroll-area {
    height: 100%;
    overflow: auto;
}

label.text-right {
    text-align: right;
}

.drag {
    background-color: skyblue;
}

.dragging {
    background-color: skyblue;
    opacity: 0.5;
}

body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    margin: 0;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
}

.normal-main {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}

.normal-content {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto 1fr;
    overflow: hidden;
}

.normal-content.sidebar-none {
    grid-template-columns: 1fr;
}

.title-menu {
    position: relative;
    display: grid;
    background-color: var(--theme-blue);
    height: 4rem;
    padding: .5rem 1rem;
}

.title-menu.header {
    grid-template-columns: auto 1fr auto;
}

.title-menu.footer {
    grid-template-columns: 1fr;
}

.normal-sidebar {
    position: relative;
    background-color: var(--sidebar-bg);
    width: 20rem;
    height: 100%;
    overflow: auto;
}

.normal-body {
    position: relative;
    background-color: var(--bg);
    padding: 2rem;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/******************************************************************************************************* 基本のセレクトボックス */

select.normal-select {
    appearance: none;
    width: 100%;
    height: 2.5rem;
    border-radius: .3rem;
    border: 1px solid var(--br);
    padding: 0 2rem 0 .8rem;
    background-image: url('/icons/down.png');
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: .8rem .8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/******************************************************************************************************* パンくずリスト */

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.breadcrumb li:not(:last-of-type)::after {
    content: ">";
    margin: 0 .6em;
    /* 記号の左右の余白 */
    color: #777;
    /* 記号の色 */
}

/******************************************************************************************************* 印刷 */

.normal-main.print div:not(#print-dialog-area) {
    display: none;
}

.normal-main.print:has(#print-dialog-area) {
    height: auto;
}

/******************************************************************************************************* PC表示のみ */

@media screen and (min-width:561px) {
    *.sp-style {
        display: none !important;
    }

    *.sp-style * {
        display: none !important;
    }
}

/******************************************************************************************************* スマホ表示のみ */

@media screen and (max-width:560px) {
    :root {
        font-size: 16px;
    }

    input {
        font-size: 16px;
    }

    *.pc-style {
        display: none !important;
    }

    *.pc-style * {
        display: none !important;
    }

    .normal-body {
        padding: 0;
    }

    .normal-content {
        grid-template-columns: 1fr;
    }

    .title-menu.header {
        grid-template-columns: 1fr;
        justify-content: end;
    }

    .hamburger .title-menu.header {
        grid-template-columns: auto 1fr auto;
    }
}

/******************************************************************************************************* 印刷時 */

@page {
	size: A4 portrait;
	margin: 0mm;
}