<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- 本体 -->
    <div class="normal-content" th:fragment="bodyFragment">
        <!-- サイドバー -->
        <div th:replace="~{fragments/sidebar :: sidebarFragment}"></div>
        <!-- ボディ -->
        <div class="normal-body">
            <div class="flex-area">
                <div class="flex-area">
                    <button name="start-btn" class="normal-btn" type="button" onclick="execTimeworks('start')"><span>出勤</span></button>
                    <span>08:30</span>
                </div>
                <div class="flex-area">
                    <button name="end-btn" class="normal-btn" type="button" onclick="execTimeworks('end')"><span>退勤</span></button>
                    <span>20:30</span>
                </div>
            </div>
        </div>
        <div id="form-dialog-area">
            <!-- フォーム画面をここに記入する -->
        </div>
        <div id="dialog-area">
            <!-- ダイアログ画面をここに記入する -->
        </div>
        <script th:src="@{/js/subscription.js}"></script>
        <script type="text/JavaScript" th:inline="JavaScript">
            const token = /*[[${_csrf.token}]]*/;
            const user_name = /*[[${user_name}]]*/;

            window.addEventListener("load", async () => {
                if ('serviceWorker' in navigator && 'PushManager' in window) {
                    registerServiceWorker().catch(err => console.error('Error during registration:', err));
                } else {
                    console.warn('Push messaging is not supported in this browser.');
                }
            });
        </script>
    </div>

</body>