@charset "UTF-8";

:root {
    --theme-blue: darkblue;
    --theme-orange: orange;
    --black: black;
    --red: red;
    --blue: blue;
    --green: green;
    --white: white;
    --yellow: rgb(220, 200, 20);
    --light-yellow: rgb(253, 242, 181);
    --bg: white;
    --br: darkgrey;
    
    --sidebar-bg: white;
    --shadow: grey;
    --line: lightgrey;

    --row-hover-bg: rgb(183, 205, 245);
    --row-selected: lightblue;
    --accordion-selected: lightgrey;

    --chk-bg: blue;

    --btn-br: lightgrey;
    --btn-bg: white;
    --btn-hover-bg: lightgrey;

    --okbtn-bg: rgb(20, 100, 255);
    --okbtn-hover-bg: rgb(110, 175, 255);
    --yesbtn-bg: rgb(0, 135, 100);
    --yesbtn-hover-bg: rgb(115, 175, 160);

    /* --index-btn-hover-bg: rgb(30, 170, 170); */

    --dialog-bg: rgba(0, 0, 0, 0.5);
}