@charset "UTF-8";

/******************************************************************************************************* 基本 */

.dialog {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
    background-color: var(--dialog-bg);
    overflow: auto;
    transition: .4s;
}
.dialog.trans {
    background-color: transparent;
}
.dialog-header {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--theme-orange);
    border-radius: .5rem .5rem 0 0;
}
.dialog-header.red {
    background-color: var(--red);
    color: var(--white);
}
.dialog-header.blue {
    background-color: var(--theme-blue);
    color: var(--white);
}
.dialog-header.yellow {
    background-color: var(--yellow);
    color: var(--black);
}
.dialog-header>.img-btn {
    width: 2rem;
}
.dialog-content {
    display: grid;
    gap: .5rem;
    overflow: auto;
    padding: 2rem;
    /* margin: .3rem 0; */
    justify-items: start;
}
.dialog-footer {
    display: flex;
    width: 100%;
    column-gap: .5rem;
    padding: 1rem 2rem;
    border-radius: 0 0 .5rem .5rem;
    justify-content: right;
    border-top: 1px solid var(--br);
}
.dialog-footer>button {
    width: fit-content;
    min-width: 5rem;
    padding: 0 1rem;
}

/******************************************************************************************************* 入力フォーム */

.msg-dialog,
.form-dialog {
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: fixed;
    z-index: 100;
    width: fit-content;
    height: fit-content;
    inset: 0;
    margin: auto;
    background-color: var(--bg);
    max-height: 90%;
    border-radius: .5rem;
    border: .5px solid var(--shadow);
    box-shadow: 0 0 8px var(--shadow);
    overflow: hidden;
}

/******************************************************************************************************* メッセージ */

.msg-dialog-content {
    display: grid;
    max-height: 90%;
    min-width: 15rem;
    min-height: 8rem;
    overflow: auto;
    padding: 2rem;
    justify-items: center;
    align-items: center;
    white-space: pre-line;
}

/******************************************************************************************************* カメラ */

#interactive {
    width: 100vw;
}
#interactive>video {
    width: 100vw;
}
#interactive>canvas {
    width: 100vw;
}
.drawingBuffer {
    position: absolute;
    left: 0;
}
/* .camera-area {
    position: fixed;
    display: none;
}
.camera-area.open {
    display: block;
} */
.camera-area>.img-btn.close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    width: 4rem;
    filter: brightness(.3) invert(.7);
}

/******************************************************************************************************* プリント用 */

.print-table.dailypay {
    width: 210mm;
    height: 297mm;
    padding: 10mm;
    break-after: page;
    border-spacing: 0;
}
.print-table.dailypay td {
    border: solid 1px var(--black);
}
.print-table.dailypay td.text-right {
    text-align: right;
}
.print-table.dailypay td.text-left {
    text-align: left;
}
.print-table.dailypay td.text-center {
    text-align: center;
}
.print-table.dailypay tr:nth-child(6n+1) td {
    border: 0;
    height: 8%;
    font-size: 10px;
    background-color: var(--white);
}
.print-table.dailypay tr:nth-child(6n+2) td {
    border-right: 0;
    border-bottom: 0;
    height: 2.5%;
    font-size: 7px;
    background-color: var(--white);
}
.print-table.dailypay tr:nth-child(6n+2) td:last-child {
    border-right: solid 1px var(--black);
}
.print-table.dailypay tr:nth-child(6n+3) td {
    border-right: 0;
    border-bottom: 0;
    height: 2.5%;
    font-size: 7px;
    background-color: var(--white);
}
.print-table.dailypay tr:nth-child(6n+4) td {
    border-right: 0;
    border-bottom: 0;
    height: 2.8%;
    font-size: 6px;
    background-color: var(--white);
}
.print-table.dailypay tr:nth-child(6n+4) td:last-child {
    border-right: solid 1px var(--black);
}
.print-table.dailypay tr:nth-child(6n+5) td {
    border-right: 0;
    height: 4%;
    font-size: 7px;
    background-color: var(--white);
}
.print-table.dailypay tr:nth-child(6n+5) td:last-child {
    border-right: solid 1px var(--black);
}
.print-table.dailypay tr:nth-child(6n) td {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px dashed var(--black);
    height: 4%;
    background-color: var(--white);
}
.print-table.dailypay tr:nth-child(24) td {
    border: 0;
    background-color: var(--white);
    break-after: page;
}
.print-table.dailypay tr.space-cell {
    height: 50%;
    background-color: var(--white);
}
.normal-main.print div:not(#form-dialog-area) {
    display: none;
}
.normal-main.print:has(#form-dialog-area) {
    height: auto;
}

/******************************************************************************************************* ケバブメニュー */

/* .kebab-img {
    position: absolute;
    top: .5rem;
    right: 0;
} */
#kebab-btn.img-btn {
    position: absolute;
    width: 2.5rem;
    top: .5rem;
    right: 0;
}
.menu-dialog {
    position: absolute;
    z-index: 150;
    background-color: var(--white);
    border-radius: .3rem;
    border: .5px solid var(--shadow);
    box-shadow: 0 0 8px var(--shadow);
    width: 70vw;
    height: fit-content;
}
.menu-dialog>ul>li>img {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}
.menu-dialog.context {
    top: 3.5rem;
    right: 1rem;
    padding: 1rem;
}
.menu-dialog.context>ul {
    padding: 0;
}
.menu-dialog.context>ul>li {
    padding: .5rem 1rem;
    cursor: var(--cursor);
    border: 0;
    border-radius: .3rem;
}
.menu-dialog.context>ul>li:hover {
    background-color: var(--hover-bg);
}
.menu-dialog.context>ul>li.disabled {
    user-select: none;
    color: var(--br);
}
.menu-dialog.context>ul>li.disabled>img {
    filter: brightness(.5) invert(.5);
}
.menu-dialog.context>ul>li.disabled:hover {
    background-color: transparent;
    cursor: default;
}

/******************************************************************************************************* PC表示のみ */

@media screen and (min-width:561px) {
    .img-btns.kebab .img-btn {
        width: 3rem;
    }
}

/******************************************************************************************************* スマホ表示のみ */

@media screen and (max-width:560px) {
    /* ケバブメニュー */
    .img-btns.kebab {
        display: none;
    }
    .img-btns.kebab.open {
        display: grid;
        position: absolute;
        z-index: 150;
        background-color: var(--white);
        border-radius: .3rem;
        border: .5px solid var(--shadow);
        box-shadow: 0 0 8px var(--shadow);
        width: fit-content;
        height: fit-content;
        grid-template-columns: 1fr;
        row-gap: .5rem;
        padding: 1rem;
        min-width: 60%;
        right: 0;
        top: 3rem;
    }
    .img-btns.kebab.open .img-btn {
        display: flex;
        /* width: auto; */
        align-items: center;
    }
    .img-btns.kebab.open .img-btn:not(:last-of-type) {
        margin-bottom: .5rem;
    }
    .img-btns.kebab.open .img-btn img {
        width: 1.5rem;
        margin-right: 1rem;
        padding: .2rem;
    }
    .img-btns.kebab.open .img-btn span {
        font-size: 1rem;
    }
    .form-dialog {
        max-height: 100%;
        border-radius: 0;
    }
    .dialog-header {
        border-radius: 0;
    }
}